        .article {
            padding-top: 80px;
            padding-bottom: 80px;
        }
        
        .article-title-medium {
            font-size: 36px;
        }
        
        .article-text {
            margin-bottom: 20px;
            font-weight: 400;
            font-size: 16px;
            line-height: 130%;
            color: #535755;
        }
        
        .article-text:last-child {
            /* margin-bottom: 0; */
        }
        
        .article-mb-1 {
            /* margin-bottom: 80px; */
        }
        
        .article-mb-2 {
            margin-bottom: 40px;
        }
        
        .article-img {
            margin-top: 20px;
        }
        
        .article-decor-wrapper {
            position: relative;
        }
        
        .article-decor-wrapper-1::before {
            top: 100px;
            left: 0;
        }
        
        .article-decor-wrapper-2::before {
            right: 0;
            bottom: 136px;
        }
        
        .article-list {
            padding-left: 16px;
            margin-bottom: 80px;
        }
        
        .article-play-button {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            align-items: center;
            justify-content: center;
            width: 60px;
            height: 60px;
            padding: 0;
            background-color: #3596ed;
            border: none;
            border-radius: 50%;
            cursor: pointer;
            transition: background-color 0.2s;
        }
        
        .article-play-button:hover {
            background-color: #38a2ff;
        }
        
        .article-play-button:not(:disabled):active {
            background-color: #2d82cd;
        }
        
        @media (width <=768px) {
            .article-decor-wrapper::before {
                display: none;
            }
            .article-title-medium {
                font-size: 32px;
            }
            .article-mb-1 {
                margin-bottom: 60px;
            }
        }
        
        @media (width <=576px) {
            .article {
                padding-top: 60px;
                padding-bottom: 80px;
            }
            .article-title-medium {
                font-size: 28px;
            }
            .article-mb-1 {
                margin-bottom: 40px;
            }
            .article-mb-2 {
                margin-bottom: 30px;
            }
            .article-play-button {
                width: 50px;
                height: 50px;
            }
            .article-play-button img {
                width: 18px;
                height: 18px;
            }
        }
        /* ---------------------------------------------------- */
        
        html {
            font-family: Ubuntu, sans-serif;
            font-weight: 400;
        }
        
        *,
        *::before,
        *::after {
            box-sizing: border-box;
        }
        
        body {
            display: flex;
            flex-direction: column;
            min-width: 375px;
            min-height: 100vh;
        }
        
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p {
            margin: 0;
        }
        
        a {
            text-decoration: none;
        }
        
        img {
            max-width: 100%;
            height: auto;
            object-fit: cover;
        }
        
        a,
        button {
            outline: none;
        }
        
        .container {
            max-width: 1250px;
            margin: 0 auto;
            padding: 0 15px;
        }
        
        .text {
            font-weight: 400;
            font-size: 16px;
            line-height: 130%;
            color: #535755;
        }
        
        .button {
            display: inline-block;
            padding: 19px 32px;
            font-weight: 500;
            font-size: 15px;
            line-height: 130%;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            text-align: center;
            color: #fff;
            background-color: #3596ed;
            transition: opacity 0.2s, background-color 0.2s;
        }
        
        .button:hover {
            opacity: 0.85;
        }
        
        .button:not(:disabled):active {
            background-color: #2d82cd;
        }
        
        button.button:disabled {
            opacity: 0.65;
            cursor: default;
        }
        
        .section {
            margin-bottom: 140px;
        }
        
        .title-large {
            max-width: 596px;
            margin-bottom: 40px;
            font-family: Oswald, sans-serif;
            font-weight: 600;
            font-size: 48px;
            line-height: 115%;
            text-transform: uppercase;
            color: #2c332f;
        }
        
        .title-medium {
            font-family: Oswald, sans-serif;
            font-weight: 500;
            font-size: 24px;
            line-height: 115%;
            text-transform: uppercase;
            color: #2c332f;
        }
        
        .text-sub {
            font-weight: 300;
            font-size: 14px;
            letter-spacing: 0.04em;
            text-transform: uppercase;
            color: #858e8a;
        }
        
        .article-decor-wrapper {
            position: relative;
        }
        
        .decor::before {
            content: "";
            position: absolute;
            z-index: 1;
            width: calc(50% - 250px);
            height: 48px;
            background: url("../imeges/img/декор.svg") repeat-x;
        }
        
        .article-decor-wrapper-1::before {
            top: 100px;
            left: -350px;
        }
        
        .article-decor-wrapper-2::before {
            right: -350px;
            bottom: 136px;
        }
        
        .article-list {
            position: relative;
        }
        
        .article-item::before {
            content: "";
            position: absolute;
            background-color: #3596ED;
            border-radius: 50%;
            transform: translateY(78%);
            left: -2px;
            width: 8px;
            height: 8px;
        }
        
        .article-item::marker {
            font-size: 22px;
            color: #3596ed;
        }
        
        .article-item:not(:last-child) {
            margin-bottom: 12px;
        }
        
        a:focus-visible,
        button:focus-visible,
        summary:focus-visible {
            outline: 2px solid #3596ed;
            outline-offset: 1px;
        }
        
        @media (width <=992px) {
            .container {
                max-width: 768px;
            }
        }
        
        @media (width <=768px) {
            .container {
                max-width: 576px;
            }
            .title-large {
                font-size: 40px;
                margin-bottom: 30px;
            }
            .home-page .title-large {
                max-width: inherit;
                text-align: center;
            }
            .title-medium {
                font-size: 22px;
            }
        }
        
        @media (width <=576px) {
            .section {
                margin-bottom: 80px;
            }
            .title-large {
                font-size: 32px;
            }
            .title-medium {
                font-size: 18px;
            }
            .article {
                padding-top: 20px;
            }
            .header-inner {
                padding-bottom: 10px;
            }
        }
        /* ======================================================= */
        
        .wrapper {
            overflow: hidden;
            min-height: 100%;
            width: 100%;
        }
        
        .conteiner {
            max-width: 1250px;
            padding: 0 15px;
            margin: 0 auto;
        }
        
        img {
            max-width: 100%;
            height: auto;
            object-fit: cover;
        }
        /* ---------------------------------------------------------- */
        
        .header {
            padding-top: 15px;
        }
        
        .header-inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 30px 0px;
        }
        
        .article-title {
            max-width: 596px;
            margin-bottom: 40px;
            font-family: Oswald;
            color: #2c332f;
            font-size: 48px;
            font-weight: 600;
            line-height: 115%;
            text-transform: uppercase;
        }
        
        .article-title-large {
            font-size: 48px;
        }
        
        .article-title-medium {
            font-size: 36px;
        }
        
        .header__nav-list {}
        
        .header__link {
            margin-bottom: 8px;
            text-align: right;
        }
        
        .article-decor-wrapper-1 {
            padding-bottom: 0px;
        }
        /* -----------------footer---------------------------- */
        
        .footer {
            margin-top: 128px;
            background: linear-gradient(90.00deg, rgba(73, 169, 255, 0.2), rgba(252, 124, 217, 0.2) 100%);
        }
        
        .footer-top {
            display: flex;
            /* justify-content: center; */
            margin: 63px 40px;
        }
        
        .footer-img {
            padding: 60px 0px 40px 0px;
            padding-bottom: 40px;
        }
        
        .footer__logo {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 40px;
        }
        
        .footer__list {
            display: flex;
            justify-content: space-between;
            max-width: 730px;
            margin-bottom: 40px;
        }
        
        .footer__link {
            margin-right: 40px;
        }
        
        .footer-item {}
        
        .footer-item:last-child {
            margin-right: 0;
        }
        
        .footer-text {
            text-align: center;
            padding-bottom: 40px;
        }
        
        .container__1 {
            display: flex;
            justify-content: center;
            margin-bottom: 40px;
        }