@font-face {
    font-family: 'Ubuntu';
    src: local('Ubuntu'), url('../fons/UbuntuMedium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: local('Ubuntu'), url('../fons/UbuntuRegular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: local('Ubuntu'), url('../fons/UbuntuLight.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}


/* семейство 2 */

@font-face {
    font-family: 'Oswald';
    src: local('Oswald'), url('../fons/OswaldSemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: local('Oswald'), url('../fons/OswaldMedium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}