body {
    background: rgba(24, 30, 52, 1);
    font-family: "Montserraf", "Arial", sans-serif;
    color: var(--Белый, rgba(255, 255, 255, 1));
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.wrapper {
    overflow: hidden;
}

.header {
    padding: 30px 0 36px;
}

.container {
    max-width: 930px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}


/* -------------------------------------------------------------------- */

.header__top {}

.header__top-inner {
    display: flex;
    align-items: center;
}

.header__logo {}

.logo {}

.header__nav {
    margin-left: auto;
}

.header__nav-list {
    display: flex;
}

.header__nav-item {
    margin-right: 30px;
}

.header__nav-link {}


/* ----------------------------hero-----------------------------------*/

.hero {
    background: url(../img/imeges/hero-bg.png) 20% 50% / cover no-repeat;
}

.header-button {
    padding: 14px 30px;
    border-radius: 100px;
    background: var(--Белый, rgba(255, 255, 255, 1));
    color: var(--Синий, rgba(39, 102, 174, 1));
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
}

.hero-title {
    color: var(--Белый, rgba(255, 255, 255, 1));
    font-size: 40px;
    font-weight: 600;
    line-height: 100%;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 60px;
}

.hero-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-text {
    max-width: 436px;
}

.hero-text span {
    color: rgba(1, 162, 203, 1);
    font-size: 16px;
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;
}

.paragraph {
    margin-bottom: 15px;
}

.hero-button-one {
    padding: 18px 30px;
    border-radius: 100px;
    background: linear-gradient(180.00deg, rgba(0, 164, 204, 1), rgba(39, 102, 174, 1) 100%);
}

.hero-button-two {
    padding: 18px 30px;
    border-radius: 100px;
    background: linear-gradient(180.00deg, rgba(0, 164, 204, 1), rgba(39, 102, 174, 1) 100%);
}