.header {
  padding-block: 24px;
}

.header__container {
  display: flex;
  align-items: center;

}



@media (width <=1100px) {
  .header__container {
    display: flex;
    justify-content: center;
  }
}

@media (width <768px) {
  .header__container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}



@media (width > 768px) {
  .header__logo {
    margin-right: 40px;
    margin-left: 16px;

  }
}

@media (width <=768px) {
  .header__logo {
    margin-right: 96px;
    margin-left: 16px;
  }
}

.search-form {
  border-radius: 62px;
  padding: 12px 16px;
  background: #f0f0f0;
  width: 100%;
  max-width: 462px;
  margin-right: 40px;
}

@media (width <=768px) {
  .search-form {
    display: none;
  }
}

.search-form__btn {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 12px;
}

.search-form__txt {
  background-color: #f0f0f0;
  align-items: center;
  border: none;
  width: 130px;
}

.header__actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
}

@media (width < 768px) {
  .header__actions {
    gap: 12px;
  }
}


@media (width > 768px) {
  .poisk-blac {
    display: none;
  }
}