@font-face {
  font-family: TenorSans;
  src: local("TenorSans Regular"), local("TenorSans-Regular"),
    url("../../fonts/TenorSans-Regular.woff2") format("woff2");
  /* font-weight: 900; */
  font-style: normal;
  font-display: swap;
}