 .page {
   font-family: var(--font-family);
   font-weight: 400;
   background-color: var(--main-color);
   color: var(--black-color);


 }


 .page__body {
   min-width: 375px;
   
 }

 .container {
   width: min(var(--container-width), 100% - var(--container-padding) * 2);
   margin-inline: auto;
 }

 .logo {
   font-family: var(--third-family);
   font-weight: 900;
   font-size: 32px;
 color: var(--black-color);
 }