 .page {
   font-family: var(--font-family);
   font-weight: 400;
   background-color: var(--main-color);
   color: var(--black-color);


 }


 .page__body {
   min-width: 375px;


 }

 .container {
   width: min(var(--container-width), 100% - var(--container-padding) * 2);
   margin-inline: auto;
 }

 .logo {
   font-family: var(--third-family);
   font-weight: 900;
   font-size: 32px;
   color: var(--black-color);
 }

 /* заголовки */
 .title-xs {
   font-family: var(--second-family);
   font-weight: 900;
   font-size: 48px;
   text-align: center;
   color: var(--black-color);
 }

 /* текст */
 .text-regular {
   font-family: var(--font-family);
   font-weight: 400;
   font-size: 16px;
   line-height: 138%;
   color: var(--syryy-2-color);
 }

 .number {
   font-family: var(--font-family);
   font-weight: 700;
   font-size: 40px;
   color: var(--black-color);
 }

 img {
   max-width: 100%;
   height: auto;
 }
 /* ---------------------------------------------- */
