:root {
  /* fotn-family */
  --font-family: "Satoshi", sans-serif;
  --second-family: "FONTSPRING DEMO - Integral CF Heavy", sans-serif;
  --third-family: "Integral CF", sans-serif;
  --font3: "Inter", sans-serif;

  /* color */
  --main-color: #FFFFFF;
  --black-color: #000000;
  --disable-04-color: #00000066;
  --disable-06-color: #00000099;



  /* container */
  --container-width: 1240px;
  --container-padding: 15px;
}