--------------------------CSS-----------------------------------
ПОДКЛЮЧЕНИЕ ФАЙЛОВ CSS СУЩЕСТВУЕТ 2 ПУТИ
ОБСОЛЮТНЫЙ ПУТЬ-DICK D 
ОТНОСИТЕЛЬНЫЙ ПУТЬ-ЛЕГКИЙ ПУТЬ
ПУТЬ--1--(НАХОДЯСЬ В ПАПКЕ УКАЗЫВАТЬ ПУТЬ ЧЕРЕЗ СЛЕШЬ ПРИМЕР)
НАХЛЖУСЬ В ПАПКЕ IMG ПУТЬ ИЗ НЕЕ К ИЗОБРОЖ  foto/goo/foto.jpg
------------------------------------------------------------
путь относительно документа в котор находится  мой файл html
ПРИМЕР У МЕНЯ ЕСТЬ ПАПКА ПРОЕКТ В НЕЙ МОЙ ФАЙЛ HTML И ПАПКА ФОТО В ПАПКЕ ФОТО 2 ПАПКИ 1-П ДЕНЬ 2-П НОЧЬ
В ПАПКЕ ДЕНЬ ЛЕЖИТ ИЗОБРОЖЕНИЕ С НАЗВАНИЕМ ФОТО1
ЧТО БЫ ПОДКЛЮЧИТЬ ИЗОБРОЖЕНИЕ ФОТО1-<img src="foto/den/foto1.jpg"

=============2 СПОСОБ=============
ИДЕНТИЧНЫЙ ТОЛЬКО ПУТЬ НАЧИНАЕТСЯ ОТ ФОТО 
АКТУАЛЬНЫЙ ПРИМЕР -img src="./foto/den/foto1.jpg"
ПРИМЕР---<img src="./foto/goo/PHOT.jpg" />
------------------------------------------
3 способ он нужен для сервера
img src="/foto/den/foto1.jpg" будет искать папку на диске д
------------------------------------------------------------
    ПОДКЛЮЧИТЬ ПАПКУ CSS
    В HTML <link="stylesheet" href="папка с CSS/ИМЯ ФАЙЛА.css"
    ----------------------------------------------------------
    ПУТЬ В НУТРИ CSS ФАЙЛА- ПРИМЕР}
    .block {
      background: url(../foto/goo/PHOT.jpg);
    }
------------------------------------------------------------------
ДЛЯ ТОГО ЧТОБЫ ОБРАТИТСЯ К ЛЮБОМУ <div></div> ИСПОЛЬЗУЮТ id
И В СSS РЕДАКТИРОВАТЬ КАЖДЫЙ ДИВ ЧЕРЕЗ id
НЕЛЯЗЯ ПОВТОРЯТЬ ИМЯ id
id НЕЛЯЗЯ НАЗВАТЬ С ЦЫФРЫ 
<div></div>
<div></div>
<div id="bloc1"></div>
<div></div>
================================================================
АТРЕБУТ style ИНОГДА ВОЗМОЖНО СТИЛИЗАЦЫЯ ЧЕРЕЗ HTML 
-------------------------------------------------------------
БЛОК КОТОРЫЙ НОХОДИТСЯ В НУТРИ ДРУГОГО ЯВЛЯЕТСЯ ДОЧЕРНИМ ЭЛЕМЕНТ
КАК РАБОТАЕТ CSS
<div этот див родитель>
<div этот дочерний>
</div>
</div>
ВСЕ СВОЙСТВА В CSS ЭТО НАСЛЕДОВАНИЕ
если задать родительскому диву какоето свойстао
все дочернии дивы перенимают это свойство
ПРИМЕР
<div РОДИТЕЛЬ>
<div ДОЧЕР>
<div ДОЧЕРН>
    <div ДОЧЕРН>
      
    </div ДЛЧЕРН>
    </div>
    </div>
    </div>
    !!!НО НЕ ТАК ВСЕ ПРОСТО НЕ ВСЕ СВОЙСТВА НАСЛЕДУЮТСЯ!!!!
    СВОЙСТВО border НЕ НАСЛЕДУЕТСЯ
    -------------------------------------------------------------
    ((((((((((((((((((((((((СИНТАКСИС В CSS)))))))))))))
    ЧТО БЫ НАЗНАЧИТЬ ЦВЕТ ИЛИ РАЗМЕР ЭЛЕМЕНТА НУЖНО К НЕМУ ОБРАТИТСЯ
    ПРИМЕР!!!! ОБРАТИТСЯ К ЭЛЕМЕНТУ ПИШЕМ ИМЯ div
    и пишем его параметры в скобках
    div{тут параметры} 
    ПАРАМЕТРЫ ВКЛЮЧАЮТ В СЕБЯ 2 ЭЛЕМЕНТА СВОЙСТВА И ПАРАМЕТРЫ 
    ПРИМЕР--------- 
    div {
        параметры: свойства;
        цвет: зеленый;
        размер: 30xp;
        высота
        ширина итд
    }
    ----------------------------------------------------------------------------------------
    ОБРАШЕНИЕ К ЭЛЕМЕНТАМ HTML V CSS
    1-<div class="takoi"> .takoi {свойства css}
    2- <div id="eto"> #eto {свойства css}
    -----------------------------------------
    ОБРАЩЕНИЕ КЭЛЕМЕНТ ЧЕРЕЗ ЗАПЯТУЮ
    ПРИМЕР
    .block1, .block2, .block3 {}
    ЕШЕ СПОСОБ ОБРАЩЕНИЕ К ЭЛЕМЕНТАМ
    ОБРАТИТЯ К ДИВУ И УКАЗАТЬ ЕГО КЛАС
    <div.blu-bloc {НУ ВЫ ПОНЯЛИ КАК ЭТО РАБОТАЕТ}
    ЕЩЕ СПОСОБ ОБРАТИТСЯ К ЭЛЕМЕНТУ ПОСТАВИТЬ ТОЧКУ ПОСЛЕ НАЗВАНИЯ ТЕГА
    ПРИМЕР-
    div .tt {}
    <div class="parent-1">
  <div class="child-1">Я желтый</div>
  <div>
    <div class="child-1">Я не желтый</div>
  </div>
</div>
В этом примере только первый .child-1 
станет желтым, так как он прямой потомок .parent-1. 
Второй .child-1 находится глубже в структуре и не получит стиль.
 ===================================================
 СПЕЦЫФИЧНОСТЬ В CSS   
 ВСЕ ЭЛИМЕНТЫ ИМЕЮТ ВЕС 
 ПРИМЕР <h1> имеет 1 <h1 class имеет 10 И АТРЕБУТ ИМЕЕН 10
 id имеет 100 он всех перебивает И АТРЕБУТ style ИМЕЕТ 1000
 !!!!important!!! В САМЫХ ЭКСТРЕННЫХ СИТУАЦ ЕСДИ ПО ДРУГОМУ НЕ ДОБРАТСЯ К КАКОМУТО ЭЛЕМЕНТУ
 h1=1
 h1.bloc=11 комбинируется
 ==========================================================
 МЕТОДОЛОГИЯ БЭМ
 БЛОК ЭЛЕМЕНТ МОДИФИКАТОР 
<div class="user-nam">
  <div class="user-nam__img"></div>
  <div class="user-nam__text"></div>
  <div class="user-nam__video "></div>
</div>
------------------------------------------------
<div> class="name1"это родитель ему задается имя
  <div class="name1__moe imy" это дочерний тег имя родителя
  повторяется и задается имя дочернего тега
</div>
МОДИФИКАТОР ПРИМЕР
<div class="user-nam user-nam--color-green" МОДИФИКАТОР 
ЗАДАЕТ ЦВЕТ
НА ПРАКТИКЕ ОТРАОТАЕТСЯ
--------------------------------------------
МОДИФИКАТОРЫ НА ПРАКТИКЕ ОТРАБОТАЮТСЯ
------------------------------------------
ОБНУЛЕНИЕ СТИЛЕЙ В CSS
БРАУЗЕР ЧИТАЕТ С ВЕРХУ В НИЗ И НУЖНО ПОДКЛЮЧИТЬ-
ФАЙЛ ОБНУЛЯЮЩИЕ СТИЛИ ПЕРВЫМ !!ВАЖНО!!
================================================
ИЗУЧАЕМ СВОЙСТВА CSS
font-family: добовление шрифтов алт+пробел
font-size: 16xp;по умолчанию. это размер шрифтов
line-height: 16xp; указывает высоту линиий текста
font-style: italic; меняется шрифт не совсем пнятно 
font-weight: normal; жирность текста
text-align: left; прилипает к левой части экран
:right правая 
center центр
justify РАСТЯГИВАЕТСЯ ПО ВСЕЙ ШИРЕНЕ ОТ ЛЕВА ДО ПРАВА НА 100%
text-decoration ПОДЧЕРКИВАВНИЕ ТЕКСТА МНОГО ВАРИАНТОВ
text-shadow работа с тенямипример {text-shadow: 1px 3px 5px yellow;}
text-transform ЗАГЛАВНЫЕ НЕ ГЛАВНЫ БУКВЫ 
text-indent ОТСТУП {50xp}
letter-spacing xp РОСТАЯНИЕ МЕЖДУ БУКВ-П  Р  И  М  Е  Р
word-spacing: 30px;РОСТОЯНИЕ МЕЖДУ СЛОВ
white-space: ;ЗАПРЕТ ТЕКСТУ ПЕРЕНОС
====================================================
ЕДИНИЦЫ ИЗМЕРЕНИЯ
--------------------------------------------
АБСОЛЮНЫЕ-PX БРАУЗЕР ПЕРЕЩИТЫВАЕТ ВСЕ В ПИКСЕЛИ
--------------------------------------------
ОТНОСИТЕЛЬНЫЕ НА НИХ ПОСТОЯННО ЧТОТО ВЛИЯЕТ ОНИ ОТ ЧЕГОТО ЗАВИСЯТ
ПРИЕМУЩЕСТВО ОТНОСИТЕЛЬНЫХ ЕДИНИЦ ИЗМЕРЕНИЯ ЭТО АДАПТИВ
ЕСЛИ ИСПОЛЬЗОВАТЬ ОТНОСИТЕЛЬНЫЕ ЕДИНИЦЫ 
ИЗМЕРЕНИЯ ВСЕ СТАНОВИТСЯ ПРОЩЕ ПРИ РАБОТЕ С АДАПТАЦИИЕЙ
И ЕЩЕ ПЛЮС ВЛИЯЕМ НА ДОСТУПНОСТЬ ДЛЯ ЛЮДЕЙ С ПЛОХИМ ЗРЕНИЕМ
ЕДИНИЦЫ ИЗМЕРЕНИЯ em-НАСЛЕДУЮТСЯ УМНОЖАЮТСЯ НА РОДИТЕЛЬСКИЙ 
РАЗМЕР 16 ПИКСЕЛЕЙ!!!НА ПРОЕКТЕ БУДУ ВНИКАТЬ ГЛУБЖЕ СЛОЖНВАЯ ТЕМА
ЕМЫ СЛУШАЮТ ВСЕХ РОДИТЕЛЕЙ И ВСЕ ЭТО СТАКАЕТСЯ
---------------------------------------------------------------
ЕДИНИЦЫ ИЗМЕРЕНИЯ .rem слушают только родительский размер 16 рх
НЕ НАСЛЕДУЮТСЯ КАК ЕМЫ
rem ЭТО ТАКИЕ РЕБЯТА КОТОРЫЕ СЛУШАЮТ ТОЛЬКО САМОГО
ГЛАВНОГО РОДИТЕЛЯ А У ГЛАВНОГО РОДИТЛЯ font-size 16xp

=========================================================
                    ПРОЦЕНТЫ  100
ПРОЦЕНТЫ У КАЖДОГО СВОЙСТВА РАСЩИТЫВАЮТСЯ ПО РАЗНОМУ  

ПРОЦЕНТ-ШИРИНЫ
ПРОЦЕНТ-ВЫСОТЫ
ПРОЦЕН-ПОЗИШИНА
ПРОЦЕН-МАРДЖИНОВ-И ПАДИНГОВ
ПРОЦЕН-ТРАНСЛЕЙТА
ПРОЦЕН-ФОНСАЙЗА И ЛАНХАЙТА
ПРОЦЕНТ ШИРИНЫ РАБОТАЕТ ОТ СВОЕГО РОДИТЕЛЯ
ПРИМЕР-РОДИТЕЛЬ DIV=700XP ЕГО ДОЧЕНРИЙ ЭЛЕМЕНТ
div class-дочерн=100% А СТО% ЭТО 700XP 
ПРИМЕР ИЗ СВОЙСТВ
.www { ЭТО РОДИТЕЛЬ 700ХР
  width: 700px;
  height: 700px;
}
.www__tt { ЭТО ДОЧЕРНИЙ И ЕГО МАКС ШИРИНА ВЫСОТА=700ХР
  width: 100%;
  height: 100%;
}
==============================================
ДАЛЬШЕ ИДЕТ СВОЙСТВА АБСОЛЮТ И У НЕГО
ЕСТЬ ВСПОМОГПТЕЛБНЫЕ СВОЙСТВА
 
{
  position: absolute;
  top: ;СМЕЩЕНИЕ В НИЗ ЕСЛИ КВАДРАТ 700ХР
  ТО ВЫЙДЕТ ПОЛНОСТЬЮ ЗА 700ХР
  left: ;
  right: ;
  bottom: ;
  ИСПОЛЬЗУЕМ XP % EM ОСТАЛЬНОЕ НАРАБОТАЕТСЯ НА ПРАКТИКЕ
}
------------------------------------------------------------------
ПОДКЛЮЧЕНИЕ ШРИФТОВ ЕТЬ 2 СПОСОБА
1 СПОСОБ УКАЗАТЬ ССЫЛКУ НА ШРИФТЫ-https://fonts.google.com/
ДАЛЕЕ ОБРАЩАЕМСЯ К ТЕКСТУ В СSS 
.bloc__text{
  font-family: здесь название симейства шрифта;
  font-wight 500 выбираем жирность
}
 СПОСОБ СКАЧИВАЕМ ШРИФТЫ ДЛЯ ПРОЕКА
1-САЙТ С ШРИФТАМИ-google fonts и филтруем cyrillic отфилтровать ЧТОБЫ
 ПОДДЕРЖИВАЛ РУССКИЙ ЯЗЫК ДАЛЬШЕ ВСТАВИТЬ ССЫКУ ШРИФТА И В CSS В СЫОЙСТВАХ
 font-family:здесь название шрифта; 
 ---------------------------------------------------------------------------
 СКОПИРОВАТЬ КОД С САЙТА ШРИФТА И УКАЗАТЬ ШРИФТ И СТИЛЬ ДЛЖНЛ ВСЕ РАБОТАТЬ\\
 ПИМЕР---
 {
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900; сдесь нужный шрифт от и до число будет на сайте
  font-style: italic; сдесь выбрать стиль
  font-variation-settings: "wdth" 100;
 }

 -------------------------------------
 2-СПОСОБ=если сайт откуда взяты шрифты сломается на нашем сайте тоже все ляжет


 ФОРМАТЫ ТЕКСТОВ 
 1 EOT-ИСПОЛЬЗУЕТСЯ В ЭКСАЛОЕРЕ
 2 WOFF-ПОДДЕРЖИВАЕТСЯ ВСЕМИ ОСНОВНЫМИ БРАУЗЕРАМИ КРУТОЙ ФОРМАТ
 В ИДЕАЛЕ ПОДКЛЮЧАТЬ EOT-WOFF ЕСЛЕ КАКОЙТО БРАУЗЕР НЕ ПОДДЕРЖИВАЕТ ОДИН ИЗ ФОРМАТОВ
 3- WOFF2 САМЫЙ КРУТОЙ ОН НА 30% ЛЕГЧЕ ЧТО УСКОРЯЕТ ПОДГРУЗКУ ШРИФТОВ
 ----------------------------------------------------------------------------
 В САМОМ НАЧАЛЕ ПОДКЛЮЧАЕТСЯ ВОТ ТАКАЯ СТРУКТКРА
 @font-face {
  font-family: "MOI SHRIFT"; КАК НАЗЫВАЕТСЯ ШРИФТ КОТОРЫЙ МЫ ПОДКЛЮЧАЕМ
  font-weight: 400 ЖИРНОСТЬ;
  src: url(my-great-font.woff) format("woff"),
    url(my-great-font.eot) format("eot");
  font-style: normal НЕ БЫЛО ИТАЛИКА ЗНАЧИТ NORMAL;
  font-display: fallback; 
-------------------------------------------------------------------------
ЧИСТЫЙ ФОНТ ДИСПЛЕЙ
@font-face {
  font-family: MyGreatFont;
  src:  url(my-great-font.woff) format('woff'),
        url(my-great-font.eot) format('eot');
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}
----------------------------------------------------------------------------
готовый фон дисплей
@font-face {
  font-family: "OldStandardTT";
  src: local("OldStandardTT Regular"), 
  local("OldStandardTT-Regular"),
    url(/TRENIROVKA/shri/OldStandardTT-Regular.woff2) format("woff2"),
    url(/TRENIROVKA/shri/OldStandardTT-Regular.woff) format("woff")
      url(/TRENIROVKA/shri/OldStandardTT-Regular.eot) format("eot");
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}
обьяснения--------------------обьяснения ничего сложного
@font-face {
  font-family: "OldStandardTT"; название семейства шрифтов
  src: local("OldStandardTT Regular"),если ПОЛЬЗОВАТЕЛЬ СКАЧАЛ ШРИФТЫ НА ПК ТО ЭТО БЫСТРЕЕ
  local("OldStandardTT-Regular"),ЭТА СТРОЧКА ТОЖЕ НУЖНА 
    url(/TRENIROVKA/shri/OldStandardTT-Regular.woff2) format("woff2"),А ЗДЕСЬ ВСЕ ПРОСТО
    url(/TRENIROVKA/shri/OldStandardTT-Regular.woff) format("woff")ЭТО РАЗНЫЕ ФОРМАТЫ
      url(/TRENIROVKA/shri/OldStandardTT-Regular.eot) format("eot");ОДГОГО ШРИФТА
  font-weight: 400;
  font-style: normal;
  font-display: swap; сдесь необходимо подключать swap это хороший вариант
}
======================================================================
               УРОК ПО ССС СВОЙСТВАМ С КОТОРЫМИ БУДИМ РАБОТАТЬ ПОСТОЯННО
{
  box-sizing: border-box он используется в обнуляющих стилях;
  padding: 10px;ДЕЛАЕТ ОТСТУПЫ СО ВСЕХ СТОРОН НА УКАЗАННОЕ ЧИСЛО СЕЙЧАС 10 PX
}
============================================================================
В CSS ОТСТУПЫ ЗАДАЮТСЯ ДВУМЯ СПОСОБАМИ
{
  padding: 30px;подсвеЧИВАЕТСЯ ЗЕЛЕНЫМ ЦВЕТ
  margin: 3px; ПОДСВЕЧИВАЕТ ОРАНЖЕВЫЙ НЕ ВХОДИТ В РАЗМЕР БЛОКА Э
  ТО ВНЕШНИЙ ОТСТУП
}
 { У ПАДИНГА ЕСТЬ 4 СВОЙСТВА ОВТАМАТОМ
 padding: 
 padding-top
 padding-right
 padding-bottom
 padding-left;
  margin У МАРДЖИНА ТОЖЕ 4 СВОЙСТВА АВТОМАТОМ
   margin-top
 margin-right
 margin-bottom
 margin-left;
  :
 }
 ПРИМЕР---------
 .content-1 {
  box-sizing: border-box; ИСПОЛЬЗУЕТСЯ В ОБНУЛЯЮЩИХ СТИЛЯХ БОРДЕР БОКС
  margin: 50px; НО ПО 50РХ СО ВСЕХ СТОРОН
  padding: 50px;
  width: 600px;
  background-color: rgb(176, 206, 196);
}
МАРДЖЕНЫ МОГУТ НАСЛАИВАТСЯ ДРУГ НА ДРУГА МАРДЖИН КОТОРЫЙ БОЛЬШЕ ТОТ И ГЛАВНЫЙ
ПАДИНГИ  И МАРДЖЕНЫ НЕ ИСПОЛЬЗУЕМ С ИНЛАЙНОВЫМИ ИЛЕМЕНТАМИ
---------------------------------------------------------------------
можно ЗАПИСАТЬ ДЛЯ ЭКОНОМИИ МЕСТА ТАКИМ ОБРОЗОМ
padding: 10px 10pc 10px 30px;
ПО ЧЕСОВОЙ СТРЕЛКЕ
---------------------------------------------------------------
-------------------------------------------------------------
-------------------------------------------------------------
далее НА ПРАКТИКИ ВСЕ ОТРАБОТАЕТСЯ В ОБЩИХ ЧЕРТАХ ПОНЯТНО
-----------------------------------------------------------------
РАБОТА ПАДИНГ И МАРДЖИН В С ТРОЧНОМ ЭЛЕМЕНТЕ
!!!!!!!!!!!!!ПАДИНГИ И МАРДЖИНЫ МЫ НЕ ИСПОЛЬЗУЕМ С СТРОЧНЫМИ ЭЛИМЕНТАМИ
------------------------------------------------------------------------
РАБОТА С ИЗОБРОЖЕНИЕМИ ПАДИНГ И МАРДЖИН
изоброжение 300РХ И ЗАДАТЬ ПАДИНГ 50 РХ ПОЛУЧИТСЯ ИЗОБРОЖЕНЕ 400 РХ
НО ИЗОБРОЖЕНИЕ УМЕНЬШЕТСЯ
МАРДЖЕН У НЕГО В НЕШНИИ ОТСТУВ ИЗОБРОЖЕНИЕ ТАК И БУДЕТ 300 РХ НО С ВНЕШНИМИ 
ОТСТУПАМИ БУДЕТ 400 РХ =======
===========================================================================
                           ШИРИНА+ВЫСОТА
ВЫСОТА И ШИРИНА НУЖНА ПРАКТИКА НО В ЦЕЛОМ НИЧЕГО СЛОЖНОГО
СТРОЙНЫЙ ЭЛЕМЕНТ ВООБЩЕ НЕ СЛУШАЕТСЯ
ЕСТЬ ЕЩЕ НЕ СТРОГИЕ ЭЛЕМЕНТЫ ШИРИНЫ И ВЫСОТЫ
{=================================================
  min-width:100px минимум
  max-width:200px МАКСИМУМ
}ЗДЕСЬ МЫ ГОВОРИМ НЕ БУДЬ МЕНЬШЕ 100 И БОЛЬШЕ 200
ТОЖЕ САМОЕ С ВЫСОТОЙ
========================================================================
МЫ ГОВОРИМ ЭЛЕМЕНТУ МИНИМУМ ТЫ 200 РХ А МАКСИМУМ 500РХ ВЫСОТЫ И ШЕРИНЫ
-------------------------------------------------------
СТРОЧНОМУ ЭЛЕМЕНТУ ВООБЩЕ НАСРАТЬ ОН НЕ РЕАГИРУЕТ НА ЗАДААНУЮ ШЕРЕНУ И ВЫСАТУ
---------------------------------------------------------------------------
ИЗОБРОЖЕНИЕ РАБОТАЕ 1 К 1 ЕСЛИ max-width 500 ПИК ТО И ВЫСОТА БУДЕТ
 АВТОМАТОМ 500ПК
 но ПРИ ШЕРЕНЕ КОНТЕНТ МОЖЕТ ВЫРВАТСЯ НА РУЖУ
 -------------------------------------------------------------------------
 С СТРОЧНЫМИ ЭЛЕМЕНТАМИ ТАКЖЕ НЕ РАБОТАЕТ БУДЕТ ПОЛНЫЙ ХАУС
 ----------------------------------------------------------------
 С ФОТО ТОЖЕ САМОЕ МИН И МАКС
 -----------------------------------------------------------------------------
 -------------СВОЙСТВО ОВЕР ФЛОО ПЕРЕПОЛНЕЕИЕ 
 {
  overflow:visible;  ТАК ПО УМОЛЧАНИЮ
 overflow:hidden ; НЕ ДАЕТ ТЕКСТУ ВЫЙТИ ЗА РАМКИ НО ИНОГДА НАМ ЭТО НУЖНО
 overflow:auto; В АВТОМАТИЧЕСКОМ РЕЖИМЕ ДОБОВЛЯЕТСЯ СКРОЛ ЕСЛИ КОНТЕНТ ВЫХОДИТ
 ЗА РАМКИ БЛОКА
 overflow: scroll; ДОБОВЛЯЕТ СКРОЛ ПО ВСЕМ ФРОНАМ ДАЖЕ ГДЕ НЕ НАДО
 }
 =======================================================================
 -----------БЛОЧНЫЕ И СТРОЧНЫЕ ЭЛЕМЕНТЫ ЭТО ВСЕ ПРЕДУСТОНОВДЕННЫЕ СТИЛИ!!!
=========================================================================
                  { СВОЙТВО displey} 
{
   display: block; ТЕПЕРЬ СТРОЧНЫЙ ЭЛЕМЕНТ СТАЛ БЛОЧНЫМ ТОЕСТЬ СПАН СТАЛ ДИВ
    display: inline; ПО УМОЛЧАНИЮ СТОИТ У СТРОЧНЫХ ЭЛЕМЕНТ
    display: inline block; А ЭТО У НАС И СТРОЧНЫЙ И БЛОЧНЫЙ ЭЛЕМЕНТ
    ТЕПЕРЬ ЭТОМУ БЛОКУ МОЖНО ЗАДАВАТЬ ВСЕ СВОЙСТВА И ОНИ НЕ ЗАНИМАЮ ВСЮ ШИРИНУ
    ЭКРАНА
}
-----------------------------------------------------------------------------
                      СВОЙСТВА БОРДЕР
У НЕГО ТАКЖЕ КАК У ПАДИНГОВ ЕСТЬ СВОЙСТВА ПО УМОЛЧАНИЮ
{
  border-width: 10px; ЭТО БОРДЕР ТАК ОН ПИШЕТСЯ ОТДЕЛЬНО
  border-style: solid; ЭТО СТИЛЬ БОРДЕРА 
  border-color ЭТО ЦВЕТ
}
{
  margin: 50px;
  border-top: 10px solid #ff0101;- РАЗМЕР. ВЕРХ. СТИЛЬ.ЦВЕТ
  border-right: 20px solid gold;-ПРАВО
  border-bottom: 10px solid rgb(29, 255, 131);НИЗ
  border-left: 10px solid rebeccapurple;ЛЕВО
  border-style: alt tab; -СТИЛЬ ГРАНИЦЫ 
  border-bottom-right-radius: 100px;РАБОТА С УГЛАМИ В ДАННОМ ПРИМЕРЕ ПРАВЫЙ
  НИЖНИЙ УГОЛ СКРУГЛЕН
  border-radius: 100px 0 100px 0;В ЭТОМ ПРИМЕРЕ СКРУГЛЕН ВЕРХНИЙ ЛЕВИЙ УГОЛ
  И ПРАВЫЙ НИЖНИЙ УГОЛ
}
{
  border
  opacity: 0.1;- ТАКОЕ СВОЙСТВО ПРОЗРАЧНОСТЬ БЛОКА И Т
  box-shadow: 0px 0px 0px 0px; -РАБОТА С ГРАНИЦЕЙ БОРДЕР РАЮОТА С ТЕНЯМИ
  ------------------------------------------------------------------------
   box-shadow: 10px 19px 20px 4px rebeccapurple, 0 0 0 10px rgb(29, 255, 131);
   ЕЩЕ ЕСТЬ ТАКОЙ ВАРИАНТ НАЛОЖИТЬ ТЕНИ И БОРДЕР
   С ИНЛАЙНОВЫМИ ЭЛЕМЕНТАМИ НЕ БУДЕТ РАБОТАТЬ НОРМАЛЬНО!!!!
}------------------------------------------------------------------
{
  visibility: visible;-ПО УМОЛЧАНИЮ
  visibility: hidden;-СКРОЕТ БЛОК НО ОН ЕСТЬ ЭТО ВАЖНО
  -------------------------------------------------------------------=======
  ===========================================================================
  ------------------------------------------------------------------------
  ==========================================================================
                            НА ЭТОМ ВСЕ!!!!!!!!!!!!!!!!!!!
}                           СВОЙСТВО БЕГРАУТД
{
  background:ЭТО УНЕВЕРСАЛЬНОЕ СВОЙСТВО ;
  background: linear-gradient(#434, rgb(189, 54, 189));- ВОТ ТАК СМЕШАТЬ ЦВЕТА
  МОЖНО ЧЕРОДАВАТЬ БЕСКОНЕЧНО
  МОЖНО ПОМЕНЯТЬ НАПРАВЛЕНИЕ ГРАДИЕТА 
  градусами ПРИМЕР background: linear-gradient(90deg, rgb(0, 26, 255), rgb(59, 189, 54));
  И ТАКЖЕ МОЖНО :left TOP ИТД
  ЕЩЕ МОЖНО ИСПОЛЬЗОВАТЬ %  
  background: linear-gradient(rgb(0, 26, 255, 20%), rgb(59, 189, 54));
}
=============================================================================
                          ДОБАВИТЬ ФОТО НА БЕГРАУНД
{background-image: url(ПУТЬ К ФОТУ);
  background-repeat: repeat;repit это по умолчанию
  background-repeat: repeat-x; ИЗОБРОЖЕНИУ ПОВТОРЯЕТСЯ ПО ГОРИЗОНТАЛИ
  background-repeat: repeat-У; ИЗОБРОЖЕНИУ ПОВТОРЯЕТСЯ ПО ВЕРТИКАЛИ
   background-repeat: round; РАСТЯГИВАЕТ ИЗОБРОЖЕНИЕ БЕЗ ЗАЗОРОВ
   background-repeat: space; ДЕЛАЕТ ПРОБЕЛЫ МЕЖДУ ФОТО
   --------------------------------------------------------
   РАСТЯГИВАЕТ НА ВСЮ ШИРИНУ БЛОКА
     background: url(img/ГЛАВНАЯ\ 2.jpg) no-repeat;
  background-size: cover;
  Чтобы убрать точки (буллиты) у списка в CSS, нужно установить свойство 
  list-style-type: none
}
}============================================================================
                                background-position
МОЖНО ИСПОЛЬЗОВАТЬ СЛОВА НО ЭТО НЕ ГИБКО
 background-image: url(../img/7777.jpg);
  background-repeat: no-repeat;
  background-position: 100px 300px; ОТСТУПЫ ЛЕВО НИЗ ВЕРХ
  МОЖНО ИСПОЛЬЗОВАТЬ % ТОЖЕ САМОЕ
  background: url(img/kross.jpg) center center no-repeat;
  ===========================================================================
                           background-attachment: scroll;
{
  background-attachment: scroll; ПО УМОЛЧАНИЮ СТОИТ СКРОЛ
  ИЗОБОБРОЖЕНИЕ ОСТАЕТСЯ НА МЕСТЕ
  ------------------------------------------------------------------
  background-attachment: fixed; ИЗОБРОЖЕНИЕ ПРОКРУЧТВАЕТСЯ С СТАНИЦЕЙ
  background-attachment: local;
  РАСТЯГИВАЕТ ИОБРОЖЕНИЕ НА ВСЮ ШЕРЕНУ БЛОКА 
  background: url(img/7777.jpg)  ;
  backgound :url() 0 0 / contain no-repeat-РАСТЯГИВАЕТ-
  -НА ВСЮ ШЕРЕНУ РАЗМЕРА ИЗОБРОЖЕНИЕ.НЕ РАСТЯНЕТСЯ НА ВЕСЬ
  БЛОК ЕСЛИ ФОТО МЕНЬШЕ БЛОКА ТОЛЬКО НА СВОИ РАЗМЕРЫ 
  background: url(img/ГЛАВНАЯ.jpg) 50% 50% / cover no-repeat;-
  -МОЖНО ПОСТАВТЬ ЛЬБУЮ ОБЛАСЬ ФОТО ЧТОБЫ БЫЛО ВИДНО
  ИМЕННО ЕЕ КАК БЫ МЫ НЕ УМЕНЬШАЛИ БЛОК ФОТО БУДЕТ ВИДНО
  ИМЕННО ТУ ОБЛАСТЬ КАКУЮ МЫ УКАЗАЛИ
  background: url(img/ГЛАВНАЯ.jpg) 0 0 / 60% 80% no-repeat;-
  ВЫСОТА ШИРИНА ЕСЛИ УКОЗАТЬ ТОЛЬКО ВЫСОТУ ТО И ШИРИНА
  БУДЕТ УКАЗАНА АВТОМАТОМ ПРИМЕР- 0 0 / 60% auto no-repeat
  --------------------------------------------------------
  ЕСТЬ ВОЗМОЖНОСТЬ КОМБЕНИРОВАТЬ ИЗОБРОЭЕНИЕ--
    background: url(img/ГЛАВНАЯ.jpg) 0 0 / 60% 80% no-repeat,
    url(img/1234567.jpg) 0 0 / auto no-repeat;
    -----------------------------------------------
    background: url(img/7777.jpg) 0 0 /;-ПОЗИШИН ПОЛОЖНГИЕ
    ИЗОБРОЖЕНИЕ НА БЛОКЕ
    )(((((((((((((((((((((((((((((((((((((((((((((()))))))))))))))
      (((((((((((((((((((((((((((((())))))))))))))))))))))))))))))
    )))))))))))))))))))))))))))))))))))))))))))))))(((((())))))
    ************************************************************
    =========================================================
    ===============================================================
    ================================================================
    =================================================================
          ПОЗИЦЫЯ НА ИЗОБРОЖЕНИИ МОЖНО ВЫБРАТЬ ЛЮБУЮ ОБЛАСТЬ ФОТО
      background: url(img/1234567.jpg) 40% 50% no-repeat;
      ------------------------------------------------------
      background-position: 10px 20px;В ПЕРВУЮ ОЧЕРЕДЬ 10PX
      СМЕЩЕНИЕ ПО ГОРИЗОНТАЛЕ ВТОРУЮ ОЧЕРЕДЬ ПО ВЕРТИКАЛЕ 20PX
      ЗПИСАТЬ МОЖНО 2 МЯ СПОСАБАИИ
   1-СПОСОБ  background: url(img/1234567.jpg) 340px 50px no-repeat;
   2-СПОСОБ  background-position: 90px 90px; 
        ТАКЖЕ МОЖНО ВЫСТОВИТЬ ПО ЦЕНТРУ 3 СПОСОБОМ
 3-СПОСОБ background: url(../img/DEVKA\ 11.png) center center no-repeat;
 ТАКЖЕ МОЖНО ВЫСТОВИТЬ ФОТО % МОЖНО СЛОВАМИ
 ===============================================
 =============================================================
 =============================================================
 =============================================================
              СЛЕДУЩИЕ СВОЙСТВА background-size: 50px;
ПО УМОЛЧАНИЮ СТОИТ background-size: auto;
ВАРИАНТЫ ЗАПИСИ ЭТОГО СВОЙСТВА
1- background-size: contain;
2- background-size: cover;
3- background: url(../img/DEVKA\ 11.png) 0 0 / contain no-repeat;
4- background: url(../img/DEVKA\ 11.png) 0 0 / cover no-repeat;
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
1- background-size: contain; РАСТСЯГИВАЕТ НА СКОЛЬКО ЭТО ТОЛЬКО 
ВОЗМОЖНО

3- background: url(../img/DEVKA\ 11.png) 0 0 / cover no-repeat;
ЭТО СВОЙСТВО НУЖНО ДЛЯ ТОГО ЧТОБЫ МЫ МОГЛИ ВИДЕТЬ ОПРЕДЕЛЕННОЕ
МЕСТО НА ФОТО 
КАК Я ПОНЯЛ ЭТО РАБОТАЕТ ТАК СТАВИМ ФОТО БЛОКУ И ВЫБЕРАЕМ
КАКОЕ МЕСТО БУДЕТ ЗАФИКСИРОВАННО В СЛУЧАИИ ИЗМЕНЕНИЕ 
РАЗМЕРА БЛОКА
background: url(img/dom.jpg) 50% 50% / cover no-repeat;
БУДЕТ ВИДНО ИМЕННО ЭТО МЕСТО

---------------------------------------------------------------
 $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
            ИЗОБРОЖЕНИЕ МОЖНО КОМБЕНИРОВАТЬ
            ПРИМЕР---
  background: url(../img/DEVKA\ 11.png) no-repeat,
   url(../img/POROG\ BELAI.jpg) 0 0 / auto no-repeat;
   КАКОЕ ИЗОБРОЖЕНИ СТОИТ 1 ОНО БУДЕТ ПОВЕРХ ВСЕГО
 


   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   ЧТОБЫ ДОБАВИТЬ НА БЕГРАУНД И ФОТО И ЦВЕТ ФОНА 
           ПРИМЕР------
background: url(../img/DEVKA\ 11.png) 0 0 / auto 300px no-repeat,
url(../img/POROG\ BELAI.jpg) 100% 0 / auto 300px no-repeat, #333;



  """""""""""""""""""""""""""""""""""""""""""""""""""""""""""
   """"""""""""""""""""""""""""""""""""""""""""""""""""""""""
             ВАЖНО ОТРАБОТАТЬ СВОЙСТВА БЕГРАУНД
    НАЙТИ ЛЮБОЙ САЙТ И ПОВТОРИТЬ ЦВЕТ И ЕГО ИЗОБРОЖЕНИЕ
    НА ПРАКТИКЕ ОТРАБОТАЕТСЯ
    (((((((((((((((((((((((((((((())))))))))))))))))))))))))))))
       СВОЙСТВО 
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
СЛЕДУЩЕЕ СВОЙСТВО- position: static ЭТО ЗНАЧЕНИЕ ПО УМОЛЧАНИЮ
У body и html по умолчанию стоит static
.block {
  position: relative sticky fixed absolute  У ЭТИХ ЗНАЧЕНИЙ
  КРОМЕ STATIC ЕСТЬ ВСПОМОГАТЕЛЬНЫЕ СВОЙСТВА И ЭТИ СВОЙСТВА
  top  auto           У ВСЕХ ЭТИХ СВОЙСТВ ПО УМОЛЧАНИЮ СТОИТ АВТО
 :left auto
 :righ auto 
 bottom auto 
}
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
                        Z-INDEX
.blue {
  background-color: blue;
  top: 100px;
  left: 100px;
  z-index: 1;
  ОСЬ КОТОРАЯ ПРОТЫКАЕТ МОНИТРО И СВОЙСТВО z-index: -1;УКАЗЫВАЕТ
  ЕГО ОТДАЛЕНИЕ ИЛИ ПРИБЛИЖЕНИЕ
  %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
                        position: absolute

.orange {
  position: absolute; ЭТО ЗНАЧЕНИЕ СТАВИТ ПО НУЛЯМ В СВОЕМ КОНТЕЙНЕР
  но ЕСЛИ ЕМУ УКАЗАТЬ ТОП 0 ЛЕФТ 0 ОН СТАНЕТ ПО НУЛЯМ В БРАУЗЕРЕ
 .orange {
  position: absolute;
  top: 0;
  left: 0; 
  ЕСЛИ МЫ ЗАДАЕМ КОМУТО СВОЙСТВА absolute ЗНАЧИТ ЕГО РОДИТЕЛЬ 
  ЗАДАЕМ СВОЙСТВА position relative И ТЕПЕРЬ МОЖНО 
  ПОЗИЦИОНИРОВАТЬ В ТОМ КОНТЕЙНЕРЕ БЕЗ ПРОБЛЕМ
  ЧТОБЫ ПЕРЕМЕЩАТЬ ТОЛЬКО В РОЛИТЕЛЬСКОЬ КОНТАЙЕНЕРЕ 
  НУЖНО УКАЗАТЬ ЕМУ ДЕЛО В ТОМ ЧТО БЛОК КОТОРОМУ ЗАДАЕТСЯ 
  ЗНАЧЕНИЕ absolute СМЕЩАЕТСЯ  ВСЕГДА ОТНОСИТЕЛЬНО 
  ПОСЛЕДНЕГО РОДИТЕЛЯ КОТОРОМУ ЗАДАН relative
  ЕСЛИ НЕ ЗАДАТЬ НИЧЕГО КОНТЕЙНЕРУ ТОГДА ОН СТАНОВИТСЯ 
  ОТНОСИТЕЛЬНО БОДИ НО У БОДИ ЕСТЬ РОДИТЕЛЬ HTML НО
  И У HTML ЕСТЬ РОДИТЕЛЬ ЭТО БРАУЗЕР РОДИТЕЛЬ HTML ЭТО
  ОКНО ЧЕРЕЗ КОТОРОЕ МЫ СМОТРИМ 
  по итогу чтобы позиционировать элимент в каком либо блоке
  не обходимо задать ему position relative и тогда он 
  не выйдет за рамки своего родителя
  №№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№
                   position fixed
  элемент которому задано это свойство position fixed не слушвет
  никого и находится по нулям в браузере и преклеевается 
  к экрану и прокручивается ничего сложного 
  ЕСЛИ ЗАДАТЬ z-index: -1; ОН БУДЕТ ПОД ВСЕМИ ЭЛЕМЕНТАМТИ НО
  ТАКЖЕ ПРТКЛЕЕН К ЭКРАНУ  
  №№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№
                        position sticky
НИ РАЗУ НЕ ИСПОЛЬЗОВАЛИСЬ ПО ЭТОМУ НЕ ВНИКАЮ НО СУТЬ
}
{
№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№
                   СВОЙСТВО  transform
transform: translate(30px, 30px); ЗАДАЕТСЯ БЛОКУ И МОЖНО
ПЕРЕМИЩАТЬ ПО ОСЯМ ИКС И ИГРИК ТОЕСТЬ ВЕРХ НИЗ
№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№
                  СВОЙСТВО transform rotate(45deg)
В ЭТОМ СВОЙСТВЕ МЫ МОЖЕМ КРУТИТЬ БЛОК ПО ЕГО ОСИ НИЧЕГО СЛОЖНОГО
№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№
          СВОЙСТВО  transform: rotatex(0deg);
ЭТО СВОЙСТВО ПОЗВОЛЯЕТ КРУТИТЬ БЛОК КАК БУДТО БЛОК МОЖНО ПОЛОЖИТЬ
№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№
          СВОЙСТВО transform: scale(0.4);
ЭТО СВОЙСТВО ПОЗВОЛЯЕТ УВЕЛИЧЕТЬ ИЛИ УМЕНШИТЬ БЛОК КОТОРОМУ ЕГО 
ЗАДАЕШЬ
ТАКЖЕ МОЖНО И ПО ГОРИЗОНТАЛЕ ВЕРТИКАЛЕ
transform: scaley(0.4);
  transform: scalex(0.4);
  УМЕНЬШАТЬ УВЕЛИЧИВАТЬ
  №№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№
              СВОЙСТВО transform: skew(10deg, 30deg);
ЭТО СВОЙСТВО КРУТИТ ОБЕКТ ГРАДУСАМИ 
№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№
                 СВОЙСТВО transform-origin: 0px 0px;
ЭТО СВОЙСТВО ЗАБИВАЕТ ГВОЗДЬ В ТО МЕСТО КУДА НАМ НУЖНО
ТОЕСТЬ ПРИБИВАЕТ БЛОК К МОНИТОРУ
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
              СВОЙСТВО transition: 3s;}{
ЭТО СВОЙСТВО ИЗМЕНЯЕТ ЭЛЕМЕНТ БЛОК КНОПКУ 
НУЖНОМУ БЛОКУ ЗАДАЕТСЯ ПСЕВДО ИЛЕМЕНТ 
ПРИМЕР-.knop:hover {hover ЭТО ПСЕВДО ЭЛЕМЕНТ
  ###################################################################
  ##################################################################
  #################################################################
  ДЛЯ ТОГО ЧТО БЫ УКАЗАТЬ КАКОЕ СВОЙСТВО БУДЕТ МЕНЯТЬСЯ ПЕРВЫЙ
  ИСПОЛЬЗУЮТСЯ СВОЙСТВА НИЖЕ А ИММЕННО КАК БУДЕТ МЕНЯТСЯ К ПРИМЕРУ ЦВЕТ
  ИЛИ РАЗМЕР ШРИФТА И ЧЕРЕЗ КАКОЕ ВРЕМЯ

transition-duration: 1s ,2s ; СЮДА ПИШЕМ ВРЕМЯ С КАКОЙ СКОРОСТЬЮ БУДЕТ МЕНЯТСЯ
 ЦВЕТ ИЛИ РАЗМЕР ШРТФТА КАКОЕ ВРЕМЯ ЗАПИСАНО ПЕРВЫМ ТО И БУДЕТ МЕНЯТСЯ ПЕРВЫМ  
 !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
transition-property: ;СЮДА МЫ ПИШЕМ ТЕ СВОЙСТВА КОТОРЫЕ ХОТИМ ИЗМЕНЯТЬ
ПИШЕМ КАКОЕ СВОЙСТВО ЗАПИСАНО ПЕРВЫМ ТО И БУДЕТ МЕНЯТСЯ ПЕРВЫМ
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
transition-delay: ;А СДЕСЬ ПИШЕМ ВРЯМЯ ПОСЛЕ КОТОРОГО БУДЕТ ЧТОТО МЕНЯТЬСЯ
ТАКЖЕ КАКОЕ СВОЙСТВО ЗАПИСАНО ПЕРВЫМ ТО И БУДЕТ РАБОТАТЬ ПЕРВЫМ
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
transition: background-color 1s 5s, border-radius 1s 5s, font-size 1s 5s;
ЭТО УНЕВЕРСАЛЬНОЕ СВОЙСТВА ВСЕ ТОЖЕ САМОЕ ТОЛЬКО СОКРАЩЕНО
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
                 ПРИМЕР КОДА
  .knop {
  position: absolute;
  left: 50%;
  width: 100px;
  height: 100px;
  background-color: burlywood;
}
.knop:hover {
  /* transition: background-color 1s, border-radius 2s; */
  transition-duration: 1s, 2s, 1s;
  transition-property: border-radius, background-color, font-size;
  transition-delay: 5s, 2s, 1s;
  font-size: 40px;
  background-color: aqua;
  border-radius: 50%;
}              
{
###########################################################################
-------------------------
ПРИМЕР КОДА
СВОЙСТА КНОП ПО УМОЛЧАНИЮ
.knop {
  font-size: 10px;
  transition: 3s;
  background-color: rgb(100, 12, 110);
  width: 1500px;
  height: 300px;
}
СВОЙСТВА КНОП ХОВЕР ПРИМЕНЯЮТСЯ ПОСЛЕ НАВЕДЕНИЕ МЫШЫ
.knop:hover {
  color: #0032f9;
  background-color: rgb(11, 162, 0);
  border-radius: 100px;
  font-size: 250px;
  width: 1500px;
  height: 300px;}
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
                       СВОЙСТВО АНИМAЦЫЯ  
ЕСТЬ КИФРЕЙМЫ @keyframs
@keyframes ТУТ ИМЯ БЛОКА КОТОРОМУ ЗАДАЕМ АНИМАЦЫЮ
ПРИМЕР @keyframes move-block {}@keyframes ЭТО КЛЮЧИ КОТОРЫМ
МЫ БУДЕМ ПРИВЯЗЫАТЬ КАКИЕ ЛИБО СВОЙСТВА ДЛЯ АНИМИРОВАНИЯ ОБЬЕКТА
ВАРИАНТЫ ЗАПИСИ
@keyframes move-block {
  from {МОЖНО ПИМАТЬ ПРОЦЕНТАМИ

  }
  to {

  }
}
@keyframes move-block {
  0% {
    left: 0%;
  }
  100% {
    left: calc(100% - 200px)  ;       -200px МИНУС ШИРИНЫ ЭЛЕМЕНТ ЧТОБ Нe УШОЛ
  }
}
                      ТУПЕРЬ ПРИСТУПАЕМ К СВОЙСТВУ АНИМАЦЫЙ
ДЛЯ НАЧАЛА УКАЗЫВАЕМ ИМЯ КТОРОЕ МЫ УКАЗАЛЕ КИФРЕЙМУ 
А УКАЗАЛИ МЫ ИМЯ move-block ВОТ ЭТО ИМЯ УКАЗЫВАЕМ БЛОКУ ПРИМЕР
                УКАЗЫВВАЕМ ИМЯ БЛОКУ
    block {
    animation: move-block;ТУТ ИМЯ НО МОЖНО ВСЕ СВОЙСТВА ПИСАТЬ ТУТ УНЕВЕРСАЛЬНО
    animation: move-block 1s infinite alternate;
    ПРИМЕР КАК ПИСАТЬ ВСЕ СВОЙСТВА В ОДНУ СТРОКУ           
  }

block {
  animation: move-block 3s infinite alternate;
  animation-duration:3s; СЮДА УКАЗЫВАЕМ ВРЕМЯ АНИМАЦИИ
  animation-timing-function: ;ЭТО СВОЙСТВА ДЛЯ ПЕРЕХОДОВ
  animation-iteration-count: ;ЭТО СВОЙСТВА УКАЗАТЬ ЛЮБОЕ КОЛИЧЕСТВО ПОВТОРЕНИЙ
  animation-iteration-count: infinite; ЭТО СВОЙСТВО БЕСКОНЕЧНОЕ ПОВТОРЕНИЕ
  animation-direction: alternate; ПРОИГРЫВАЕТСЯ В ОБРАТНОМ НАПРАВЛЕНИИ
  animation: moi-block 4s infinite reverse; БУДЕТ РАБОТАЬ В ОБРАТНОМ НАПРОВЛЕН
  animation: moi-block 4s infinite reverse; ПО УМОЛЧАНИЮ СТОИТ normal ане reverse
  animation-delay: 3s;АНИМАЦЫЯ ЗАПУСТИТСЯ ЧЕРЕЗ 3 СЕКУНДЫ
  animation: moi-block 6s infinite alternate 3;АНИМАЦЫЯ ЗАПУСТИТСЯ ЧЕРЕ З СЕКУД
  animation: moi-block 6s alternate -1s;-1 МЫКАК ПРОМАТАЛИ АНИМАЦЫЮ В БУДУЩЕЕ
  animation-delay: -3s;ПРОМАТАТЬ АНИМАЦЫЮ В ПЕРЕД 
  animation-fill-mode:none ; ПО УМОЛЧАНИЮ СТОИТ none
  animation-fill-mode: forwards; АНИМАЦЫЯ ПРОИГРАЕТСЯ НА СТОЛЬКО СКОЛЬКО МЫ
  УКАЗАЛИ КИЙФРЕЙМУ А ЕМУ УКАЗАЛИ 100%

  ---------------------------------------------------------------------------
  КОМБЕНИРОВАНИЕ АНИМАЦЫИИ
  МОЖЕТ БЫТЬ ТАКОЕ У НАС БУДЕТ БОЛЬШОЕ КОЛИЧЕСТВО АНИМАЦИИ С РАЗНЫМИ 
  АНИМАЦЫЯМИ ЧЕРЕЗ ЗАПАЯТУЮ МЫ МОЖЕМ ПИСАТЬ ЗНАЧЕНИЕ НАШЕЙ АНИМАЦЫИ
  ПРИМЕР
  ПОКА КОМБИНИРОВАНИЕ РАБОТАЕТ ТОЛЬКО ПРИ РАБОТЕ С ОДИМ И ТЕМ ЖЕ ЭЛЕМЕНТОМ
  ЕСЛИ ЗАДАТЬ РАЗНЫМ БЛОКАМ ТО КАМЬИНИРОВАНЕ НЕ РАБОТАТ !!!! ТОЛЬКО ОДНОМУ 
  ЭЛЕМЕНУ ЗАДАЕМ КИФРЕЙМЫ С РАЗНЫМИ ИМИНАМИ И СВОИМИ ЗНАЧЕНИЯМИ И ТАК 
  КОМБЕНИРОВАНИЕ РАБОТАЕТ 
  .block-4 {
  animation: moi-block-4 10s infinite alternate, color-block-4 10s infinite;
  ПРИМЕР РАБОЧЕГО БЛОКА
  .kimb-2 {
  border-radius: 50%;
  animation: inim-kimb-1 5s infinite, inim-2-kimb-1 3s infinite;
  position: absolute;
  color: azure;
  top: 40%;
  width: 100px;
  height: 100px;
  background-color: violet;
}
@keyframes inim-kimb-1 {
  0% {
    left: 0%;
    opacity: 1;
  }
  100% {
    opacity: 0.9;
    left: calc(100% - 100px);
  }
}

@keyframes inim-2-kimb-1 {
  0% {
    left: 0%;
  }
  100% {
    left: calc(100% - 100px);
    background-color: #00ff08;
  }
}
ВОТ ТАКОЙ ВАРИАТ РАБЛТАЕТ КОМБЕНИРОВАНИЕ

}

  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
ЭТИ ЗНАЧЕНИЯ НИЖЕ ОНИ НЕ ЖЕЛЕЗНЫЕ ВСЕ НАСТРАИВАЕТМЯ КАК УГОДНО
НАПРИМЕР ТУТ КВАДРАТ ПРИ ДОСТИЖЕНИИ 50% ОН СТАНЕТ КРУГЛЫМ ПРИМЕР В НИЗУ
@keyframes moi-block {
  0% {
    left: 0%; 
  }
  50% {
    border-radius: 50%;
  }
  100% {
    left: calc(100% - 200px);
  }
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
ВОТ ТАК МОЖНО ПРИ НА ВИДЕНИИ НА КУБИК ИЛЕ ЛЮБОЙ ЭЛЕМЕНТ ПОСТАВИТЬ НА 
ПАУЗКУ ПРИ НАВЕЖЕНИИ КУРСОРА НО СУЩЕСТВУЕТ МНОГО СПОСОБОВ ЧТОБЫ ОСТОНОВИТЬ 
АНИМАЦИЮ
.block:hover { 
  animation: none; при навидении мышы анимацыя откатится в начала
  animation-play-state: paused;при наведении мышы анимацыя остоновится
}
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
             НЕ ВСЕ СВОЙСТВА ПОДДАЮТСЯ ВНИМАЦИИ МОЖНО ПОСМОТРЕТЬ В
             СПРАВОЧНИКЕ CSS
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
                    ПРИСТУПАЕМ К ФЛЕКС БОКСУ
ОН НУЖЕН ДЛЯ ТОГО ЧТОБЫ ПОЗИЦИОНИРОВАТЬ ЭЛЕМЕНТЫ НА САЙТЕ
1-ЧТОБЫ ИСПОЛЬЗОВАТЬ ФЛЕКС БОКС НЕОБХОДИМО ОБРОТИТСЯ К ФЛЕКС БОКСУ ТОЕСТЬ 
ЭЛЕМЕНТУ И ЗАДАТЬ ЕМУ СВОЙСТВО ДИСПЛЕЙ  ПРИМЕР
 .flexbox {
  display: flex; ЭТО СТОИТ ПО УМОЛЧАНИЮ НО К ЭТОМУ ЕШЕ ВЕРНЕМСЯ
  ПО МИМО ОТОБРОЖЕНИЕ FLEX МЫ МОЖЕМ ВКЛЬСИТЬ display: inline-flex;ЭТО РАБОТАЕТ
  ТОЧНО ТАКАЖЕ КАК ИНЛАЙН БЛОК ТПЕРЬ У НАС ЕСТЬ ФЛЕКС И ОН НЕ ЗАНИМАЕТ
  ВСЮ ШИРИНУ РОДИТЕЛЯ ОН ЗАНИМАЕТ ТУ ШИРИНУ КОТОРУЮ ПРОДИКТУЮТ  ЕМУ 
  ЭЛЕМЕНТЫ В НУТРИ НЕГО
  -----------------------------------------------------------------------
                    ДАЛЬШЕ У НАС ВЫРАВНИВАНИЕ
ВЫРАВНИВАНИЕ В FLEX BOX ЭТО ОЧЕНЬ ПОЛЕЗНАЯ ШТУКА 
МЫ МОЖЕМ ВЫРАВНИВАТЬ ЭЛЕМЕНТЫ ПО ВЕРТИКАЛЕ И ГОРИЗОНТАЛИ 
---------------------------------------------------------------------------
            ВЫРАВНИВАНИЕ ПО ГОРИЗОНТАЛЕ
ДЛЯ ЭТОГО МЫ ИСПОЛЬЗУЕМ СВОЙСТВО justify-content:flex-start ; ВОТ ТАК У НЕГО
СТОИТ ПО УМОЛЧАНИЮ
justify-content: flex-end; ЭТО СВОЙСТВО ТАКЖЕ КАК С ТЕКСТОМ ПРИКЛЕИВАЕМ 
ЛИБО К ЛЕВОМУ БОКУ ЛИБО К ПРАВОМУ БОКУ  
justify-content: flex-start; ПО УМОЛЧАНИЮ НО ПРИКЛЕИВАЕТ К ЛЕВОМУ БОКУ
justify-content: flex-end; ПРИКЛЕИВАЕТ К ПРАВОМУ БОКУ
justify-content: center; ВЫРАВЕИВАЕТ ПО ЦЕНТРУ                          
justify-content: space-evenly; ДОБОВЛЯЕТ МЕЖДУ ЭЛЕМЕНТАМИ В ФЛЕКС БОКС
ПРОСТРАНСТВО МЕЖДУ ГРАНИЦАМИ ФЛЕКС БОКСА МЕЖДУ ЭЛЕМЕНТАМИ ФЛЕКС БОКСА
ГРАНИЦА ФЛЕКС БОКС ПРОСТРАНСВО ЭЛЕМЕНТ ПРОСТРАНСТВО ЭЛЕМЕНТ ПРОСТРАНСТВА
ГРАНИЦА ФЛЕКС БОКС ВОТ КАК ТО ТАК
justify-content: space-around; ЭТО ЗНАЧЕНИЕ ДОБОВЛЯЕТ НАМ ПРОСТРАНСТВА 
ИМЕННО ВОКРУГ ЭЛЕМЕНТА СЛОЖНО ОПИСАТЬ ПО ЭТОМУ ОСТАВЛЮ ССЫЛКУ НА САЙТ
ТАМ ПОДРОБНО И НАГЛЯДНО ВСЕ ИЗЛОЖЕННО
================================================================
https://developer.mozilla.org/ru/docs/Web/CSS/justify-content
================================================================
СЛЕДУШЕЕ ЗНАЧЕНИЕ КОТОРОЕ ИСПОЛЬЗУЕТСЯ ЧАЩЕ ВСЕГО
justify-content: space-between; ЭТО ЗНАСЕНИЕ ПОЛУЧАЕТСЯ РАССЕИВАЕТ ЭЛЕМЕНТЫ
ФЛЕКС БОКСА ПО ВСЕМ ПРОСТОРАМ ФЛЕКС БОКСА ОНО ДОБОВЛЯЕТ ПРОСТРАНСТВО 
МЕЖДУ ЭЛЕМЕНТАМИ ТАКЖЕ ПО ССЫЛКЕ ВЫШЕ ВСЕ ЕСТЬ
---------------------------------------------------------------------------
                    ВЫРАВНИВАНИЕ ПО ВЕРТИКАЛЕ
ДЛЯ ЭТОГО НАМ НЕОБХОДИМО СВОЙСТВО align-items:stretch; 
align-items:stretch; ТАК ПО УМОЛЧАНИЮ
НЕМНОГО СЛОЖНО ОПИСАТЬ БЕЗ ПРИМЕРА ОСТАЛЮ ВРЕМЯ В КУРСЕ ГДЕ РАЗБИРАЕТ ЭТО
СВОЙСТА 06:20:50
align-items:stretch; СЛОВАМИ ЭТО СВОЙСТВО РАСТЯНУЛУ ОТ ВЕРХА ДО НИЗА НО ПРИКЛЕЕНЫ
К ВЕРХУ
align-items: flex-start; ЭТО СВОЙСТВО ПРИКЛЕИВАЕТ К ВЕРХУ
align-items:flex-end;ЭТО СВОЙСТВО ПРИКЛЕИВАЕТ ЭЛЕМЕНТЫ К НИЗУ
align-items:center;ЭТО СВОЙСТВО ВЫРАВНИВАЕТ ПО ЦЕНТРУ ОЧЕНЬ ЧАСТО ПРИГОЖДАЕТСЯ
            ВЫРАВНИВАНИЕ ПО ВЕРТИКАЛЕ НА ЭТОМ ВСЕ
---------------------------------------------------------------------------
         ДАЛЕЕ ЕСТЬ СВОЙСТВО КОТОРОЕ БУДЕТ АВТОМОТИЧИСКИЙ  ПРИ УМЕНЬШЕНИИ
          ФЛЕКС БОКСА ПЕРЕКИДЫВАТЬ ЭЛЕМЕНТЫ В НУТРИ НЕГО НИЖЕ
И ЭТО СВОЙСТВО flex-wrap: nowrap; ПО УМОЛЧАНИЮ СТОИТ НОВРАП  И НИЧЕГО
НЕ БУДЕТ ПРОИСХОДИТЬ
flex-wrap: wrap; ЭТО СВОЙСТВО БУДЕТ ПРИ УМЕНЬШЕНИИ ФЛЕКС БОКСА ПЕРЕКИДЫВАТЬ 
ЭЛЕМЕНТЫ В ЕГО НИЗ 
ЕСТЬ ЕШЕ НЕСКОЛЬКО ВАРИАНТОВ
 flex-wrap: wrap-reverse; ПО СУТИ ТОЖЕ САМОЕ МЕНЯЕТСЯ ТОЛЬКО ПОРЯДОК 
 ПЕРЕПРЫГИВАНИЕ
 ПО ПЕРЕПРЫГИВАНИЮ ВСЕ
 ---------------------------------------------------------------------------
  ДАЛЕЕ ПЕРЕХОДИМ НО ЗАДАВАТЬ ИХ БУЛЕМ УЖЕ НЕ ФЛЕКС БОКСУ А ИМЕННО 
  ЭЛЕМЕНТАМ В НУТРИ ФЛЕКС БОКСА ЧТОБЫ ОБРАТИТСЯ К ЭЛЕМЕНТАМ ПО ОТДЕЛЬНОСТИ
  БУДУ ИСПОЛЬЗОВАТЬ ПСЕВДО КЛАССЫ ВСЕ ЭТО МЫ БУДЕМ ПРОХОДИТЬ В БУДУЩЕМ
  -----------------------------------------------------------------------
  ОБРОЩАЮСЬ К ПЕРВОМУ ЭЛЕМЕНТУ И ГОВОРЮ ТОЛЬКО ЕМУ
  СВОИМИ СЛОВАМИ ЭТО ПОЗИЦИОНИРОВАНИЕ ИЛИ РАСПОЛОЖЕНИЕ ЭЛЕМЕНА ТОЛЬКО НЕ
  ВСЕХ СРАЗУ А ПО ОТДЕЛЬНОСТИ КАК В НАСАЛЕ ТЕМЫ ТАМ ВСЕ ОДНОВРЕМЕННО А 
  ЭТО ПО ОТДЕЛЬНОСТИ ТОЕСТЬ МОЖНО ЛЮБОЙ ЭЛЕМЕНТ РАСПОЛОЖИТЬ КАК УГОДНО   
.flexbox__item:firdt-child {
  align-self: flex-start; ПРИКЛЕИТЬ К НИЗУ
  align-self: flex-end; ПРИКЛЕИТЬ К ВЕРХУ
  align-self: center; ВЫРОВНЯТЬ ПО ЦЕНТРУ
}
=========================================================
     ДАЛЕЕ СВОЙСТВО ПОРЯДОК ОТОБРОЖЕНИЕ ЭЛЕМЕНТОВ
СВОЙСТВО order: ЗДЕСТЬ ЦЫФРА В КАКОМ ПОРЯДКЕ;

.flexbox__item:first-child {
  align-self: center;
  order: 3;
}
.flexbox__item:nth-child(2) {
  order: 2;
}

.flexbox__item:last-child {
  align-self: center;
  order: 1;
}
===========================================================
ДАЛЕЕ СВОЙСТВО {
  flex-basis: ;ЭТО СВОЙСТВО УКАЗЫВАЕТ РАЗМЕР ДЛЯ ЭЛЕМЕНТА ФЛЕКС БОКСА
   flex-basis: ;ПО УМОЛЧАНИЮ СТОИТ АВТО МЫ МОЖЕМ ЗАДАТЬ РАЗМЕР ДЛЯ
 ЭЛЕМЕНТА ФЛЕКС БОКСА
 flex-basis: 300px либо можно 300%; ДАЛЕЕ ПИШЕМ СВОЙСТВО КАКОМУ НИБУДЬ ЭЛЕМЕНТУ
 .flexbox__item:nth-child(2) {
  flex-grow: 0; ПО УМОЛЧАНИЮ ЭТО СВОЙСТО РАВНО 0 ЕСЛИ Я ЗАДАМ ЕМУ НЕ 0 А 1 ТО
  ТО ТЕПЕРЬ НАШ ЭЛЕМЕНТ МОЖЕТ ВЫРОСТАТЬ ИЗ СВОЕГО flex-basis: 300%; ТЕПЕРЬ
  ОН ИМ НЕ ОГРАНИЧЕН ОН МОЖЕТ ВЫРОСТИ БОЛЬШЕ ЧЕМ ЕМУ ЗАДАН ФЛЕКС БАЗИС 
  ТАКЖЕ УНАС ЕСТЬ СВОЙСТВО
  flex-shrink; 1:ЭТО СВОЙСТВО РАБОТАЕТ НА ОБОРОТ ПО УМОЛЧАНИЮ У НЕГО
  ЗНАЧЕНИЕ 1 
  ЭТО ОЗНАЧАЕТ ЧТО ЭТОТ ЭЛЕМЕНТ МОЖЕТ СТАНОВИТСЯ МЕНЬШЕ ЧЕМ ЕМУ ПРОПИСАН
  flex-basis
  И СЛЕДУЩЕЕ СВОЙСТВО БУДЕТ ОБЬЕДЕНЯТЬ ВСЕ ЭТИ 3 СВОЙСТВА И ПИШЕТСЯ ОНО ТАК
  flex:1 0 300px ; ПЕРВОЕ ЗНАЧЕНИ flex-grow ВТОРОЕ ЗНАЧЕНИЕ flex-shrink и ДАЛЕЕ 
  flex-basis: 300px;
  ---------------------------------------------------------------------------
  ДАЛЕЕ СВОЙСТВО С ПОМОЩЬЮ КОТОРОГО МОЖНО ВСЕ ПЕРЕВЕРНУТЬ
  И ЗАДАТЬ ЧТО ЭЛЕМЕНТЫ РАСПОЛОГАЛИСТЬ В СТОЛБИК И ЭТО СВОЙСВТО
  flex-direction:row ; ТАК ПО УМОЛЧАНИЮ
  flex-direction:row-reverse ;ТОЖЕ САМОЕ ТОЛЬКО НА ОБОРОД ВСЕ ПРИЖАТО К
  ПРАВОМУ КРАЮ
  flex-direction:column ;ЭТО СВОЙСТВО РАСПОЛОГАЕТ НАШИ ЭЛЕМЕНТЫ В СТОЛБИК
  ТЕПЕРЬ ГОРИЗОНТАЛЬНАЯ ОСЬЬ ИДЕТ С ВЕРХУ В НИЗ А ВЕРТИКАЛЬНАЯ С ЛЕВА НА 
  ПРАВО
  flex-direction: column-reverse; ЭТО СВОЙСТВА ПРИКЛЕЕВИЕТ К НИЗУ
  И ЧТОБЫ ВЫРОВНЯТЬ ПО ГОРИЗОНТАЛЕ МОИ ЭЛЕМЕНТЫ БУДУ ИСПОЛЬЗОВАТЬ НЕ 
  justify-content: ; а align-items: ; 
  -----------------------------------------------------------------------
  ВСЕ ТОЖЕ САМОЕ ТОЛКО ТЕПЕРЬ КАК БУДТО МОНИТОР ПЕРЕВЕРНУЛИ
                    НА ЭТОМ ВСЕ ФЛЕКС БОКС ПРОШЛИ
ДЕЛАТЛЬ МЫ ЭТО БУДЕМ ОЧЕНЬ ЧАСТО И НА ПРАКТИККЕ ЭТО ЗАКРЕПИТСЯ
  №№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
              СВОЙСТВО ГРИДЫ
КОНТЕЙНЕРУ УКАЗЫВАЕМ display: grid; 
================================================================
                 ДАЛЕЕ СВОЙСТВО СОЗДАНИЕ КОЛОНОК
grid-template-columns: 100px 100px 100px;сдесь 3 колонки по 100пк                
grid-template-columns: repeat(3, 200px);СОКРОШЕННЫЙ СПОСОБ
==================================================================
                 СВОЙСТВО ОПРЕДИЛИТЬ РАЗМЕР И КОЛИЧЕСТВО РЯДОВ
grid-template-rows: 100px 100px 100px ;Сдесь 3ряда по 100пик
grid-template-rows: repeat(3, 400px);СОКРОЩЕННЫЙ СПОСОБ
========================================================================
                 СВОЙСТВО ЗАДАЕТ ОТСТУПЫ МЕЖДУ КОЛОНКАМИ
grid-column-gap:30px;ГОРИЗОНТАЛЬНЫЕ ОТСТУПЫ 30ПК
=========================================================================
                СВОЙСТВО ЗАДАЕТ СВОЙСТВА МЕЖДУ РЯЖДАМИ
grid-row-gap:20px; вертикальный отсуп 20пик
==========================================================================
          СОКРОЩЕННЫЙ СПОСОБ СДЕЛАТЬ ОТСТУПЫ МЕЖУ РЯДОВ
grid-gap: 10px 5px;первое значение 10px отступ между рядов
grid-gap: 10px 5px;второе значение 5px отступ между колонок
есле нужно зделать одинакой отступ то указываем 1 значение
grid-gap: 10px; отступ 10px между колонок и рядов
==========================================================================
               ДАЛЕЕ ЕДИНИЦА ИЗМЕРЕНИЯ ФРАКЦИЯ 1fr
НУЖЕН ОН ДЛЯ АДАПТИВНОЙ ВЕРСТКОЙ
1fr эта таже самая колонка
 grid-template-columns: 1fr 1fr 1fr;здесь указаны 3 колонки
 ----------------------------------------------------------------------
 1FR ОН ЗАБИРАЕТ ВСЕ ПРОСТРАНСВО ЕСЛИ БУДЕТ-
grid-template-columns: 1fr 1fr;-они разделят по полам это пространсва
==========================================================================
                  размер 1fr
            ПРИМЕР КАК ЭТО ВЫГЛЯДИТ
grid-template-columns: 1fr 3fr 2fr; === ========== =====
                                    1fr    3fr       2fr
---------------------------------------------------------------------
ДАЛЕЕ ЗАДАТЬ ФИКСИРОВАННУЮ ШИРИНУ
grid-template-columns: 200PX 3fr 2fr ТАК БУДЕТ ФИКСТРОВАННАЯ ШИРИНА
---------------------------------------------------------------------
ДАЛЕЕ СОКРОШЕННАЯ ЗАПИСЬ С ПОМОШЬЮ rapit
grid-template-columns: 1fr 1fr 1fr;
grid-template-columns: repeat (3, 1fr);ТОЖЕ САМОЕ ЧТО И ВЫШЕ 3 КОЛОНКИ ПО 1ФР
ТАКЖЕ МОЖНО УКАЗАТЬ В ПИКСЕЛЯХ  ПРИМЕР
grid-template-columns: repeat(3, 100px); 3 КОЛОНКИ ПО 100px
---------------------------------------------------------------------------------
ДАЛЕЕ ЗАПИСТ РЕПИТА В БОЛЕЕ СЛОЖНОЙ ФОРМЕ 
grid-template-columns: 50px 200px 50px 200px;
grid-template-columns: repeat(2, 50px 200px);ТОЖЕ САМОЕ ЧТО И ВЫШЕ
===============================================================================
                      свойсТВО minmax()
МИН МАКС РАБОТАЕТ ОТЗЫВЧИВАЯ ШИРИНА ДЛЯ КОЛОНОК
grid-template-columns: minmax(100px, 500px) 200px 200px 200px;
ПРИ МАКСИМАЛЬНОМ РАЗМЕРЕ ОКНА КОЛОНКА ЗАНИМАЕТ 500 ПИКСЕЛЕЙ 
ПЕРВАЯ КОЛОНКА БУДЕТ МЕНЯТЬСЯ В ЗАВИСИМОСТИ ОТ РАЗМЕРА ОКНА
==========================================================================
свойсТВО minmax() ТАКЖЕ МОЖНО ПРИМИНЯТЬ К РЯДАМ
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px minmax(100px, auto) 100px;ПРИ ПЕРЕПОЛНЕНИЕ
  КОЛОНКИ КОНТЕНТОМ КОЛОНКА БУДЕТ АВТОМОТИЧИСКИЙ УВЕЛИЧИВАТЬ РАЗМЕР ДЛЯ
  КОНТЕНТА НИЧЕГО СЛОЖНОГО
  ======================================================================
                   НАПРОВЛЕНИЕ КОНТЕНТА GRID-AUTO-FLOW
В GRID ЕСТЬ ТАКОЕ СВОЙСТВО grid-auto-flow ПО УМОЛЧАНИЮ ОНО-grid-auto-flow:row;
grid-auto-flow: row; КОНТЕНТ ВЫСТРАЕВАЕТСЯ В РЯДЫ
 grid-auto-flow: column; КОНТЕНТ ВЫСТРАЕВАЕТСЯ В КОЛОНКУ
 =========================================================================
                           ЯВНАЯ И НЕ ЯВНАЯ СЕТКА
grid-template-columns: 200px 200px 200px;
  grid-template-rows: 100px 100px;ТАК ПОЯВИТСЯ НЕ ЯВНАЯ СЕТКА ПОТОМУ ЧТО 
  ОНА НЕ ОПИСАНА НО МЫ МОЖЕМ ЗАДАТЬ ЗНАЧЕНИЯ РЯДАМ В КОТОРЫХ 
  НЕ ПОМИСТИЛСЯ КОНТЕНТ И ВЫШЕЛ ЗАПРЕДЕЛЫ
grid-auto-rows: 200px;
grid-auto-columns:100px; ТАК тоже самое можно указать СВОЙСТВО ДОП КОЛОНКАМ
===========================================================================
                      АВТОМАТИЧЕСКИЕ КОЛОНКИ
grid-template-columns: repeat(auto-fill, 100px);КОЛОНКИ БУДУТ АВНОМАТОМ
РАБОТАТЬ В ЗАВИСИМОСТИ ОТ ЭКРАНА РАБОТАЕТ ОН ТАК ЧТОБЫ 
ПОМЕСТИТЬ В СТРОКУ КАК МОЖНО БОЛЬШЕ ЯЙЧЕЕК
grid-template-columns: repeat(auto-fit, 100px);
ПОЧТИ ТОЖЕ САМОЕ ДЕЛАЕТ АВТОЗАПОЛНЕНИЕ ПЕРЕНОС СТРОКИ НО ОН РАБОТАЕТ ТАК
ЧТОБЫ ЗАНЯТЬ ВСЕ ДОСТУПНОЕ ПРОСТРАНСТВА В СТРОКЕ
           У ЭТИХ ДВУХ СВОЙСТВ ОБЩЕЕ ТО ЧТО КОЛИЧЕСТВО КОЛОЕОК БУДЕТ
           ПОДСТРАИВАТЬСЯ ПОД РАЗМЕР СЕТКИ
===========================================================================
                      ПЕРЕМЕШЕНИЕ ЯЧЕЕК
        ПОЗИЦЫОНИРОВАНИЕ В НУТРИ СЕТКИ ПО ЛИНИЯМ СЕТКИ
РАБОТАЕТ ЭТО ТАК ----  ----  ----  ----  
grid-column-start: 1;
grid-column-end: 1;
А ВОТ ТАК БУДЕТ ВЫГЛЯДИТЬ 
grid-column-start: 2;
grid-column-end: 5;    ----  --------------ЗАПОЛНЯЕТ СО 2 ПО 5
                             ---------- ---- ТАК С1 ПО 5
ПРИМЕР КОДА
.grid {
  display: grid;
  grid-template-columns: 150px 150px 150px 150px;
  grid-template-rows: 50px;
}
.grid > div:nth-child(1) {
  grid-column-start: 2;
  grid-column-end: 5;
}
ЧТОБЫ ЗАКОНЧИВАЛАСЬ ДО ПОСЛЕДНЕЙ КОЛОНКИ УКАЗЫВАЕМ ТАК
grid-column-end: -1;
  grid-column: 1/4; УНЕВЕРСАЛЬНОЕ СВОЙСТВО
-------------------------------------------------------------------------
МОЖЕМ ЗАДАВАТЬ РАЗМЕР МЕЖДУ КОЛОНКАМИ НЕ 2 СВОЙСТВАМИ А ОДНИМ
 grid-column-start: 2;
  grid-column-end: 5;
  СОКРОЩЕННЫЙ СПОСОБ
  grid-column: 2 / 5;ТОЖЕ САМОЕ ЧТО И ВЫШЕ
  --------------------------------------------------------------------------
                  ПЕРЕМЕЩЕНИЕ ПО РЯДАМ
.grid > div:nth-child(2) {
  grid-column: 1 / 4; РАЗМЕР ПО ШИРЕНЕ 
  grid-row-start: 1; ЭТО ВЫБОР ОДНОЙ ИЗ ЛИНИЙ.МОЖНО ВЫБРАТЬ ЛЮБУЮ -----
  grid-row-end: 6;ЗДЕСЬ УКАЗЫВАЕМ ВЫСОТУ ТОЙ ЛИНИИ КОТОРУЮ ВЫБРАЛИ ВЫШЕ
              СОКРАЩЕННЫЙ СПОСОБ ЗАПИСИ
  grid-row: 1/6; БУДЕТ ТОЖЕ САМОЕ ЧТО И ВЫШЕ 1 ПО 6
  ЕЩЕ НУЖНО ОПРЕДЕЛИТЬ РЯД grid-row:1;к примеру
  ======================================================================
                   ВЫРАВНИВАНИЕ ЯЙЧЕЕК В НУТРИ 
                   КОЛОНОК И РЯДОВ
ПО УМОЛЧЯНИЮ НАШЫ ЯЙЧЕЙКИ ТЯНУТСЯ НА ВСЮ ШЕРЕНУ ЯЙЧЕЙКИ И ШИРИНУ РЯДА
НО ЭТО МОЖЕТ БЫТЬ НЕ ОБЕЗАТЕЛЬНО ТАК
РЕГУЛИРУЮТСЯ ОНИ С ПОМОЩЬЮ
 justify-items:stretch по умолчанию;  ------ГОРИЗОНТАЛЬ
 justify-items:stretch; ПО ГОРИЗРНТАЛИ
 ====================================================================
align-items: stretch; ПО УМОЛЧАНИЮ----------ВЕРТИКАЛЬ            
align-items: stretch; ПО ВЕРТИКАЛЕ 
=====================================================================
justify-items: start;выравнивание по началу тоесть сетка станет пустой
а контент прижмется к левому краю 
=======================================================================
justify-items: end; ВЫРАВНИВАНИЕ С ПРАВА КОНТЕНТ ПРИЖМЕТСЯ В ПРАВО 
justify-items: center; ВЫРАВНИВАНИЕ ПО ЦЕНТРУ КОЛОНКИ        
=========================================================================
                  ВЫРАВНИВАЕИЕ ПО ВЕРТИКАЛИ
align-items:start ;КОНТЕНТ ПРИЛИПНИТ К ВЕРХНЕМУ КРАЮ СЕТКИ            
 align-items: end; КОЕТЕНТ ПРИЛИПНИТ К НИЖНЕМУ КРАЮ СЕТКИ
 =======================================================================
 ТАКЖЕ МЫ МОЖЕМ ВЫРАВНЕВАТЬ НЕ ВСЕ СРАЗУ НО И ПО ОТДЕЛЬНОСТИ
 .grid > div:nth-child(6) {ВЫБЕРАЕМ ЭЛЕМЕНТ И РАСПОЛОГАЕМ ЕГО В СЕТКИ
  align-self: center;ВЫРОВНЯТЬ ПО ЦЕНТРУ 
  justify-self: end;ПРИЛИПНЕТ К НИЗУ
  ===========================================================================
            СОКРОЩЕННО ОПИСЫВАТЬ КОЛОНКИ ИРЯДЫ В СЕТКИ
grid-template:rows / columns;
grid-template:100px 100px 100px / 150px 150px 150px
              РЯДЫ                       КОЛОНКИ
grid-template:repeat(3, 100px) / repeat(4, 150px);сокрощенныц метод
=======================================================================
                      grid-template-areas:
    "header header" ЗДЕСТ ХЕДАР ЗАНИМАЕТ И ПЕРВУЮ И ВТОРУЮ КОЛОНКУ ОПИСАНИЕ
    "aside main" ЗАНИМАЕТ И ПЕРВУЮ И ВТОРУЮ
    "footer footer";ТОЖЕ САМОЕ
    ПРОСТЫМИ СЛОВАМИ МЫ ОПИСЫВАЕМ ЧТО И КАК БУДЕТ
        header header
    ---------------------
        aside   main
   ----------  ----------
        footer footer
------------------------- 
==========================================================================
                        ДАЛЕЕ ВЛОЖЕННЫЕ СЕТКИ  
В НУТРИ СЕТКИ В НУТРИ ЯЕЕЧЕЙКИ МЫ МОЖЕМ СОЗДОВАТЬ ВНУТРЕНЬЬИИ СЕТКИ 
   
СУТЬ ТАКАЯ СЕТКУ МОЖНО ДЕЛАТЬ В НУТРИ СЕТКИ И ВСЕ ЭТО РАСПОЛОГАТЬ В НУТРИ 
ТЕЖЕ САМЫЕ СВОЙСТВА ГРИД
           С ГРИДАМИ ВСЕ
==========================================================================
                        ПСЕВЛОКЛВССЫ
1-hover {} он нам позволяет что то изменить при наведении на него 
например при на ведении на ссылку она будет зеленеть 
2-visited {}  ЕСТЬ ТАКОЙ ЭЛЕМЕНТ КОТОРЫЙ ПЕРЕКРАШИВАЕТ ЭЛЕМЕНТ ЕСЛИ МЫ УЖЕ 
ПЕРЕХОДИЛИ ПО ЕЕ АДРЕСУ     
============================================================================
                 ПРИМЕР
.link:visited {
  bacgraund-color ЕСЛИ ПЕРЕЙТИ ПО ЭТТОЙ ССЫЛКИ ОНА ПОМЕНЯЕТ ЦВЕТ
}                     
======================================================================
        ДАЛЕЕ ПСЕВДОКЛАС БУДЕТ РАБОТАТЬ ПРИ МОМЕНТЕ НАЖАТИЯ НА ССЫЛКУ
.link:active {
  background-color: #00ff08;ИМЕНННО В МОМЕНТ НАЖАТИЯ ОН СРАБОТАЕТ
}
==========================================================================
  ДАЛЕЕ ПСЕВДОКЛАС КОТОРЫЙ МЕНЯЕТ ВНЕШЕИЙ ВИД ЭЛЕМЕНТА КОГДА МЫ
  НА НЕМ ФОКУСИРУЕМСЯ
  .link:focus {
    ЕСЛИ СДЕСЬ НИЧЕГО НЕ УКАЗАТЬ КАКОМУ ИМЕННО ЭЛЕМЕНТУ ЭТО СВОЙСТВО 
    ОН БУДЕТ РАБОТАТЬ ТАБОМ НА ВСЕЙ СТРАНИЦЕ
  }
  .link:focus {
    box-shadow: 0 0 30px 10px rebeccapurple;
  }
  =======================================================================
  ДАЛЕЕ ПЕРЕХОДИМ К ПСЕВДОКЛАССУ С ПОМОШЬЮ КОТОРЫХ
  МОЖНО ОБРАТИТСЯ К ЭЛЕМЕНТУ
  <li class="list__item">далеко-далеко.</il>
  <li class="list__item">далеко-далеко.</il>
  <li class="list__item">далеко-далеко.</il>
ЧТО БЫ ОБРАТИТСЯ К ЛЮБОМУ ЭЛЕМЕНТУ
.list__item:first-child {
 background-color: rgb(72, 108, 178);
 }
--------------------------------------
.list__item:last-child { ОБРОТИТСЯ К ПОСЛЕДНЕМУ ЭЛЕМЕНТУ
 background-color: rgb(72, 108, 178);
 } 
--------------------------------------
МОЖНО ОБРАТИТСЯ К ЛЮБОМУ ЭЛЕМЕНТУ ПО ЩЕТУ ПРИМЕР
.list__item:nth-child(5) {
 background-color: rgb(72, 108, 178);
 }
 ------------------------------------------------------------
 МОЖНО СДЕЛАТЬ ТАК ЧТОБЫ ПЕРЕКРАШИВАЛСЯ КАЖДЫЙ НЕ ЧЕТНЫЙ ЭЛЕМЕНТ
 нужно указать .list__item:nth-child(odd)
 .list__item:nth-child(odd) {
 background-color: rgb(72, 108, 178);
 }
 ----------------------------------------------------------------
 чтобы перекрастиь каждый четный указываем.list__item:nth-child(even)
  .list__item:nth-child(even) {
 background-color: rgb(72, 108, 178);
 }
             ВСЕЕЕЕЕЕЕЕЕЕЕЕЕЕЕЕЕЕЕЕЕ 
 ------------------------------------------------------------------------
=========================================================================
                        ДАЛЕЕ ПСЕВДОИЛЕМЕНТЫ
СИНТАКСИС ПСЕВДОИЛЕМЕНТОВ СХОЖ С СИНТЕКСЕМ ПСЕВДО КЛАСОВ
.block-wrapper::bofore {ВОТ ТАК ОН ПИШЕТСЯ
  content: "bofore";
}СЮТЬ ТАКАЯ В НУТРИ РОДИТЕЛЯ ЕСТЬ ЭЛЕМЕНТ И ЕСЛИ ЭТОМУ РОДИТЕЛЮ 
ЗАДАТЬ ПСЕВДОЭЛЕМЕНТ ПОЯВИТСЯ ЕЩЕ ОДИН ЭЛЕМЕНТ
-----------------------------------------------------------------------
.block-wrapper::after {
  он задает элемент после всех существуещих но таоже самое по сути как выше
}
===========================================================================
ТАКЖЕ МОЖНО ДОБАВИТЬ ИЗОБРОЖЕНИЕ ПРИМЕР
.link::after {
  СУТЬ ТАКАЯ НАПРИМЕР КНОПКИ МОЖНО ДОБАВИТЬ ИЗОБРОЖЕНИЕ 
  ПИШЕМ ПСЕВДОЭЛЕМЕНТ И ЗАДАТЬ ЕМУ СВОЙТВА БЕГРАУНТ ИТД
  ПРИМЕР
}
.link::after {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  background: url();
}
========================================================================
                РАБОТА ПСЕВДОИЛЕМЕНТА И ПСЕВДОКЛАССА В МЕСТЕ
.link:hover::after {
  можно сделать при наведении будет меняться изоброжение
===========================================================================
===========================================================================
==========================================================================
==========================================================================
                       УСКОРЕНИЕ ВЕРСТКИ 7Ч 58М
