.custom-stele__container {
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  border-radius: 40px;
  padding: 70px 64px;
  border-radius: 40px;
  max-width: 1239px;
  margin: 0 auto;
}

.custom-styl-title {
  padding-block: 70px 64px;
}
.custom-style__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;
  color: var(--black-color);
}
.custom-style__galery {
  display: grid;
  gap: 20px 20px;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: repeat(3, 200px); */

}

.custom-style__card {
  background: white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease;
  position: relative;
  top: 0;
  left: 0;
  height: 250px;
}

.custom-style__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  /* object-fit: contain; */
/
}
.custom-style__card {

}

.custom-style__card:nth-child(1) {
  grid-column: 1 /2;
  /* первая колонка */
  /* grid-row: 2 / 3;    вторая строка */
}

.custom-style__card:nth-child(2) {
  grid-column: 2 /4;
  /* первая колонка */
  /* grid-row: 2 / 3;    вторая строка */
}

.custom-style__card:nth-child(3) {
  grid-column: 1 /3;
  /* первая колонка */
  /* grid-row: 2 / 3;    вторая строка */
}

.custom-style__card:nth-child(4) {
  grid-column: 3 /4;
  /* первая колонка */
  /* grid-row: 2 / 3;    вторая строка */
}

@media (width < 976px) {
  .custom-style__galery {
    display: grid;
    gap: 16px;
      grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 255px);
  }
  .custom-style__card:nth-child(1) {
  grid-column: 1 /3;
  /* первая колонка */
  /* grid-row: 2 / 3;    вторая строка */
}
.custom-style__card:nth-child(2) {
  grid-column: 1 /3;
  /* первая колонка */
  /* grid-row: 2 / 3;    вторая строка */
}
.custom-style__card:nth-child(4) {
  grid-column: 1 /3;
  /* первая колонка */
  /* grid-row: 2 / 3;    вторая строка */
}
.custom-style__title {
  font-size: 24px;
}
.custom-styl-title {
  font-weight: 900;
font-size: 30px;
line-height: 120%;
text-align: center;
padding-bottom: 28px;
/* white-space: nowrap; */
}
.custom-style__img {
  filter: blur(4px);
}
.custom-stele__container {
   padding: 70px 10px;
}

}




.custom-style__title {
  position: absolute;
  top: 25px;
  left: 36px;
  z-index: 2;
}

