footer {
  /* background-color: #548364; */
  background: rgba(15, 20, 27, 0.96);
}

.footer-text {
  color: #f3f0f0;
  font-family: TenorSans;
  font-size: 18px;
  font-weight: 500;
  padding-top: 15px;
}

.footer__nav-logo {
  max-width: 400px;
  text-align: justify;
  padding: 15px;
}

.footer__nav {
  display: flex;
  gap: 40px;

  padding: 15px;
}

.title-ft {
  font-size: 27px;
  color: #fffdfd;
  font-family: TenorSans;
  font-weight: 600;
  padding-bottom: 10px;
}


.footer__item {
  padding-bottom: 6px;
  padding-left: 20px;
  border-left: 1px solid #a59898;
}

.footer__link {
  color: #ddd8d8;
  font-size: 18px;

}

.footer__nav-contact {
  text-align: center;
  align-items: center;

}

.footer-item {
  color: #bdb5b5;
}

.location__tel-wrapp {
  justify-content: center;
}

.footer__text-wrapp {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-top: 10px;
}

.location__socials {
  justify-content: center;
}

@media (width < 890px) {
  .footer__nav {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .footer__nav-logo {
    text-align: center;
  }

  .footer__nav {
    gap: 15px;
  }
}