footer {
  position: relative;
}

.form__news {
  position: absolute;
  /* top: 14% 90.4688px; */
  top: 162px;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  max-width: 1240px;
  z-index: 20;
  padding: 0 auto;
}



.form__news-content {
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  padding: 36px 64px;
  background: var(--black-color);
}

@media (width <=768px) {
  .form__news-content {
    flex-direction: column;
    align-items: center;
    padding: 32px 24px 32px 24px;
  }

  .form__news {
    top: 200px;
  }
}

.form__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form__button {
  display: flex;
  flex-direction: column;
  gap: 14px;

}

.form__inpun-wrapp {
  position: relative;
  width: 349px;

}

.form__btn {
  border: none;
  cursor: pointer;
  border-radius: 62px;
  padding: 12px 16px;
  width: 349px;
  height: 46px;
  background: #fff;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: #000;
}

.form__body-title {
  font-family: var(--second-family);
  font-weight: 900;
  font-size: 40px;
  line-height: 112%;
  color: var(--main-color);
  width: 100%;
}

@media (width <=768px) {
  .form__body-title {
    text-align: center;
    font-size: 30px;
    line-height: 117% 35.1px;
    margin-bottom: 32px;
  }
}

.form__inpun {
  position: relative;
  border-radius: 62px;
  padding: 0px 50px;
  width: 100%;
  height: 48px;
  outline: none;
}

.form__input-icon {
  position: absolute;
  left: 20px;
  top: 12px;
}