/* //////////////////////
     GREEN
////////////////////////*/

.green__container {
  background-color: #fff9f3;
  padding: 0px 15px 0px;

}

.green__content-inner {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding-top: 160px;

}

.green__info {
  max-width: 500px;
  flex: 1;
  padding: 15px;
}

.green__images-hero {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.green__inner-img {
  width: 100%;
  max-width: 700px;
  height: 650px;
  object-fit: cover;
  border-radius: 5%;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);

}

.green__info-card {
  position: absolute;
  width: 270px;
  top: 40px;
  right: -30px;
}

.info__card-img {
  border-radius: 20px;
}

.green__title {
  font-size: 70px;
  line-height: 0.95;
  padding-top: 80px;


}

.green__title-text {
  font-size: 28px;
  color: rgb(177, 108, 25);
  line-height: 1.3;
  max-width: 420px;
  padding: 30px 0px 30px;
}

.green__info-text {
  font-size: 23px;
  padding: 15px 0px 45px;
}

.green__features {
  display: flex;
  padding: 60px 0px 60px;

}

.feature-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  width: 230px;
  height: 200px;
  gap: 10px;
  border-radius: 12px;
  background-color: #f5f5f5;
  transition: all 0.3s ease;
  cursor: pointer;
}

.feature-img {}

.feature-img {
  width: 50px;
  height: 50px;
  filter: sepia(35%) saturate(80%) hue-rotate(355deg);
}

.feature-item:hover {
  background-color: rgba(38, 103, 50, 0.295);
  transform: translateY(-3px);
}

.feature-item:hover {
  box-shadow: 0 4px 15px rgb(0, 0, 0);
}

.feature-item img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  transition: transform 0.3s ease, filter 0.3s ease;
}

/* при наведении */
.feature-item:hover img {
  transform: scale(1.15);
  filter: brightness(0) saturate(100%) invert(35%) sepia(80%) saturate(500%) hue-rotate(90deg);
}

.feature-item {
  /* display: flex;
  align-items: center;
  gap: 10px; */
}

.feature-img {
  border-radius: 50%;
}

.feature-title {

  font-family: TenorSans;
  font-size: 20px;
  font-weight: 600;
}

.feature-title-text {
  font-size: 18px;
  text-align: center;
  margin: 0px 15px;
}


/* ---------------------------------------------
                     GALLERY
------------------------------------------------ */
.gallery__title {
  display: flex;
  justify-content: center;
  font-size: 50px;
  padding: 40px 40px;

}

.green__gallery {
  padding-top: 30px;
  padding-bottom: 120px;
}


.gallery {
  width: 100%;
  display: grid;
  grid-template-columns:
    repeat(2, 1fr);
  gap: 5px 5px;
}

/* ГАЛЕРЕЯ КОГДА ЗАКРЫТА */

.gallery__card {
  display: none;
  position: relative;
  height: 400px;
  cursor: pointer;
  overflow: hidden;
  border-radius: 24px;
}


/* показываем первые 6 */

.gallery__card:nth-child(-n+6) {
  display: block;
}

/* галерея открыта */
.gallery.active .gallery__card {
  display: block;
}

/* галерея открыта-END */


/* КНОПКА ГАЛЕРЕИ */
.gallery-btn {
  margin: 40px auto 0;
  display: block;
  padding: 18px 34px;
  border: none;
  border-radius: 18px;
  background: #B5793E;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  transition: .3s;
}

.gallery-btn:hover {
  background: #9d6733;

  transform: translateY(-3px);
}

/* КНОПКА ГАЛЕРЕИ-END */

.gallery__card {
  position: relative;
  height: 400px;
  cursor: pointer;
  overflow: hidden;
}

.gallery__img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
}

.gallery__card:hover .gallery__img {
  transform: scale(1.1);
}

/* СТИЛИ БРОНИРОВАНИЯ */
/* ========================= */
/* BUTTON */
/* ========================= */

.booking-btn {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 18px 32px;
  border: none;
  border-radius: 18px;
  background: #B5793E;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
}

.booking-btn:hover {
  transform: translateY(-3px);
  background: #9d6733;
  box-shadow: 0 10px 25px rgba(0, 0, 0, .12);
}

/* ========================= */
/* MODAL */
/* ========================= */

.booking-modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, .45);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
  z-index: 999;
}

.booking-modal.active {
  opacity: 1;
  visibility: visible;
}

/* ========================= */
/* CONTENT */
/* ========================= */

.booking-content {
  width: 100%;
  max-width: 500px;
  background: #fff;
  border-radius: 28px;
  padding: 40px;
  position: relative;
  transform: translateY(30px);
  transition: .3s;
}

.booking-modal.active .booking-content {
  transform: translateY(0);
}

/* ========================= */

.booking-close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background: #f4f1eb;
  font-size: 28px;
  cursor: pointer;
}

/* ========================= */

.booking-title {
  font-size: 36px;
  color: #2D241C;
  margin-bottom: 10px;
}

.booking-subtitle {
  color: #6E6255;
  margin-bottom: 30px;
}

/* ========================= */

.booking-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.booking-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.booking-group label {
  color: #3E3428;
  font-weight: 500;
}

/* ========================= */

.booking-input {
  width: 100%;
  padding: 16px 18px;
  border: 1px solid #ddd;
  border-radius: 14px;
  font-size: 16px;
  outline: none;
  transition: .3s;
}

.booking-input:focus {
  border-color: #B5793E;
}

/* ========================= */

.booking-submit {
  margin-top: 10px;
  padding: 18px;
  border: none;
  border-radius: 16px;
  background: #B5793E;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: .3s;
}

.booking-submit:hover {
  background: #9d6733;
}

/* ========================= */
/* MOBILE */
/* ========================= */

@media(max-width:600px) {

  .booking-content {
    margin: 20px;

    padding: 30px 24px;
  }

  .booking-title {
    font-size: 28px;
  }

}

/* СТИЛИ БРОНИРОВАНИЯ-END */




/* -----------------------------------
                  SLEDER
--------------------------------------- */
.slider {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

.active {
  opacity: 1;
  /* position: all; */
  pointer-events: all;


}

.slider__container {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #e7e7e7;
  width: 80vw;
  height: 80vh;
}

/* КНОПКИ */
.slider__btn {
  position: absolute;
  top: 50%;
}

/* __________________________________________ */
/* ---------------------------------------
          КНОПКИ СЛАЙДЕРА
---------------------------------------------*/
.slider__image img {
  pointer-events: none;

}

.slider__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.slider__image.fade {
  opacity: 0;
}


.slider__btn {
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  padding: 20px;
  background: none;
  border: none;
  z-index: 4;
  color: #fdfdfd;

}

.slider__btn_left {
  left: 20px;
}

.slider__btn_right {
  right: 20px;
}

/* кнопка крестик */
.slider__close {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 20px;
  color: #fdfdfd;
}

/*  */
/* АДАПТИВ */
@media (width < 976px) {
  .green__content-inner {
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-top: 50px;
  }

  .green__features {
    display: grid;
    align-items: center;
    text-align: center;
    justify-content: center;
    grid-template-columns: repeat(3, 230px);
    gap: 15px;
  }
}

@media (width < 768px) {
  .green__features {
    grid-template-columns: repeat(2, 230px);
  }


  .gallery {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (width < 500px) {
  .green__features {
    grid-template-columns: repeat(1, 230px);
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .feature-item {
    /* width: 400px; */
    width: 230px;
    height: 200px;
  }

  .green__info-card {
    position: absolute;
    width: 345px;
    top: 78px;
    right: -172px;
    overflow: hidden;
    transform: translateX(-150px);
  }
}

/* АДАПТИВ--- */