.hero {
  /* padding: 40px 0; */
}

.hero__inner {
  position: relative;
  min-height: 600px;
  /* border-radius: 24px; */
  overflow: hidden;

  background-image: url("../../imeges/hero.jpg");
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px;

  box-shadow: 0 40px 80px rgba(0, 0, 0, 0.2);
}

.hero__inner::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(90deg,
      rgba(0, 0, 0, 0.65) 0%,
      rgba(0, 0, 0, 0.35) 50%,
      rgba(0, 0, 0, 0.05) 100%);
}

.hero__content {
  position: relative;
  z-index: 2;
  color: white;
  max-width: 550px;
}

.hero__title {
  font-size: 52px;
  margin-bottom: 16px;
}

.hero__subtitle {
  font-size: 18px;
  margin-bottom: 24px;
  opacity: 0.9;
}

.hero__buttons {
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
}

.hero__benefits {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  font-size: 14px;
}

/* КНОПКИ */
.btn {
  padding: 12px 22px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 600;
}

.btn--primary {
  background: #01AB31;
  color: white;
}

.btn--primary:hover {
  filter: brightness(0.9);
}

.btn--outline {
  border: 1px solid white;
  color: white;
  background: transparent;
}

.btn--outline:hover {
  background: rgba(255, 255, 255, 0.1);
}

/* ПРАВАЯ КАРТОЧКА */
.hero__card {
  position: relative;
  z-index: 2;
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(14px);
  padding: 30px;
  border-radius: 20px;
  color: white;
  width: 280px;
  text-align: center;
}

.hero__card-price {
  font-size: 18px;
  margin-bottom: 12px;
}

.hero__card-price span {
  font-size: 26px;
  font-weight: bold;
}

.hero__card-status {
  margin-bottom: 20px;
  font-size: 14px;
  color: #7CFF9B;
}

.hero__card-btn {
  display: block;
  padding: 12px;
  background: white;
  color: black;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 600;
}

.hero__card-btn:hover {
  background: #eee;
}

/* АДАПТИВ */
@media (max-width: 992px) {
  .hero__inner {
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
  }

  .hero__card {
    /* width: 100%; */
  }
}

@media (width <=993px) {
  .hero__inner {
    align-items: center;
  }
}