.news {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  ;
}

.news-cotalog__products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(295px, 1fr));
  align-items: center;
  justify-items: center;
  margin-bottom: 40px;
  gap: 20px;

}

@media (width <=1050px) {
  .news-cotalog__products {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;

    justify-content: center;
    gap: 10px;
  }
}

@media (width < 450px) {
  .news-cotalog__products {
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 20px;
  }

}

.product__price-old {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  text-decoration: line-through;
  color: var(--disable-06-color);
}

.product__price-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.product__discount {
  border-radius: 62px;
  padding: 6px 14px;
  background: rgba(255, 51, 51, 0.1);
  font-weight: 500;
  font-size: 12px;
  color: #f33;
}

@media (width <=768px) {
  .product__price-old {
    font-size: 18px;
  }

  .product__discount {
    padding: 6px 8px;
  }
}

.news-cotalog__products {}

@media (width <768px) {
  .product {
    max-width: 173px;
  }

  .product__title {
    font-size: 15px;
  }

  .product__price {
    font-size: 18px;
  }

  .product__price-wrapper {
    gap: 5px;
  }
}

.news__catalog-title {
  padding-top: 72px;
  padding-bottom: 55px;
}

.product__image-wrapper {
  max-width: 295px;
  padding-bottom: 16px;
}

.product__title {
  margin-bottom: 8px;
}

.product__stars {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 8px;
}

.product__reyting {
  padding-left: 13px;
}

.product__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 36px;
  padding-bottom: 64px;

}

@media (width <=976px) {
  .product__btn {
    padding-top: 27px;
    padding-bottom: 40px;
  }
}

@media (width <=576px) {
 .catalog__products-btn  {
    width: 100%;
  }
}

.catalog__products-btn {
  margin: 0 auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 62px;
  padding: 16px 54px;
  font-weight: 500;
  font-size: 16px;
  color: var(--black-color);
}