.storis__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 40px
}

.stories__button-wrapp {
  display: flex;
  align-items: center;
  gap: 16px;
}

.sizes__slide-inner {
  display: flex;
  gap: 20px;
}

.stories__card-wrapper {
  display: flex;
  gap: 20px;

  margin-bottom: 80px;
}

.stories__title {}

/* стили карточек комент! <> */
/* Обертка */
.slider-container {
  position: relative;
  overflow: hidden;
  /* width: 100%;
  max-width: 1000px; или любой нужный размер */

}

/* Внутренний блок */
.slider-wrapper {
  display: flex;
  transition: transform 0.5s ease;
}

/* Карточки - 3 видны */
.slide {
  flex: 0 0 calc(33.333% - 10px);
  
  margin-right: 20px;
  background: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 28px 32px;
  width: 400px;
  height: 240px;
}

/* Стрелки */


button.prev,
button.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  padding: 10px;
  color: #fff;
  cursor: pointer;
  border-radius: 50%;
  z-index: 10;
  
}

/* Расположение стрелок, можно изменять */
button.prev {
  left: 10px;
}

button.next {
  right: 10px;
}

/* Адаптация мобильных */
@media(max-width: 768px) {
  .slide {
    flex: 0 0 calc(50% - 10px);
    /* 2 штуки на мобильном */
  }
}

@media(max-width: 480px) {
  .slide {
    flex: 0 0 calc(100% - 10px);
    /* 1 штука на очень маленьких */
  }
}