.style {
  max-width: 1440px;
  margin: 0 auto;
}

@media (width <=976px) {
  .style {
    background: #f2f0f1;
  }
}

.style__container {
  overflow: hidden;
  margin: 0 auto;
}
.style__content-wrapper {
padding: 0px 100px;
}

@media (width<= 976px) {
  .style__container {
    flex-direction: column;
    display: flex;
    align-items: center;
    background: #f2f0f1;
    
  }

  .style__img {
    display: none;
    position: absolute;
    top: 0;
    left: 0px;
    z-index: -1;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
    height: auto;

  }

}

.style__img {
  position: absolute;
  top: 0;
  left: 0px;
  z-index: -1;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 100%;
  height: auto;
}

@media (width >=768px) {
  .style__img-fons {
    display: none;
  }
}

@media (width <=976px) {
  .style__img-fons {
    display: flex;
    justify-content: center;
    background: #f2f0f1;
  }
}


.style__number {
  display: flex;

}

.style__title {
  padding-top: 106px;
  padding-bottom: 34px;
  
  max-width: 577px;
  text-align: left;

}

@media (width<=1100px) {
  .style__title {
    padding-top: 53px;
    padding-bottom: 17px;

  }
}

@media (width<=1160px) {
  .style__title {
    font-size: 32px;

  }
}


.style__title-text {
  padding-bottom: 32px;
  
  max-width: 551px;
  /* white-space: nowrap; */

}

.style__button {
  display: flex;
  align-items: center;
  border-radius: 62px;
  padding: 16px 54px;
  background: var(--black-color);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: var(--main-color);
  background-color: #000;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.style__button:hover {
  background-color: #333;
  transform: scale(1.01);
}

@media (width<=420px) {
  .style__button {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
}

.style__content-nember {
  display: flex;
  padding-top: 48px;
  padding-bottom: 20px;
  gap: 64px;
  white-space: nowrap;
}

@media (width <=976px) {
  .style__content-nember {
    display: flex;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  .style__number {
    font-size: 24px;
  }

  .style__title {
    padding-top: 40px;
    padding-bottom: 20px;
  }

  .style__text {
    font-size: 12px;
  }

  .style__title-text {
    font-size: 14px;
    line-height: 157%;
    padding-bottom: 23px;
  }
}

.style__start-wrapp {
  display: flex;
  gap: 64px;
}

.style__img-wrapper {
  position: relative;
}

.style__vector-icon {
  position: absolute;
  display: flex;
  top: 297px;
  right: 532px;
}

/* ---------------------------------------------- */
.brand-list-icon-1{
margin-left: 100px;

}
.brand-list-icon-5 {
  margin-right: 100px;
}
@media (width < 976px) {
  .brand-list-icon-1{
margin-left: 0px;

}
.brand-list-icon-5 {
  margin-right: 0px;
}
.style__content-wrapper {
padding: 0px 16px;
}
}

@media (width <= 976px) {
  .brand-list-icon-1{
margin-left: 30px;

}
.brand-list-icon-5 {
  margin-right: 30px;
}
}





.brand-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  height: 122px;
  background: var(--black-color);
}

@media (width <=976px) {
  .brand-list {
    flex-wrap: wrap;
  }
}

@media (width <=976px) {
  .brand-list {
   
    gap: 8px;
    padding: 20px 16px;
    width: 100%;
  }

  .brand-list-icon-1 {
    width: 117px;
    height: 24px;
  }

  .brand-list-icon-2 {
    width: 64px;
    height: 27px;
  }

  .brand-list-icon-3 {
    width: 110px;
    height: 26px;
  }

  .brand-list-icon-4 {
    width: 127px;
    height: 21px;
  }

  .brand-list-icon-5 {
    width: 135;
    height: 22px;
  }
}
