@font-face {
  font-family: FONTSPRING DEMO - Integral CF Heavy;
  src: local("FONTSPRING DEMO - Integral CF Heavy Regular"), local("FONTSPRING DEMO - Integral CF Heavy-Regular"),
    url("../../fonts/FONTSPRING\ DEMO\ -\ Integral\ CF\ Heavy\ Regular.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: integral-cf;
  src: local("integral-cf bold"), local("integral-cf-bold"),
    url("../../fonts/integral-cf-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: local("Inter Regular"), local("Inter-Regular"),
    url("../../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Satoshi;
  src: local("Satoshi Bold"), local("Satoshi-Bold"),
    url("../../fonts/Satoshi-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Satoshi;
  src: local("Satoshi Medium"), local("Satoshi-Medium"),
    url("../../fonts/Satoshi-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Satoshi;
  src: local("Satoshi Rrgular"), local("Satoshi-Rrgular"),
    url("../../fonts/Satoshi-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}